{% load thumbnail %}

<div class="hotel-previews">
<a href="" class="room-config-link img-link" data-id="{{room_config.id}}">
{% for hotel in hotels %}
{% thumbnail hotel.get_image "x60" format="PNG" as image %}
    {% if hotel.hotel_type.slug == 'hotel' %}
        <img src="{{image.url}}" width="{{image.width}}" height="{{image.height}}">
    {% else %}
        <img src="{{image.url}}" width="{{image.width}}" height="{{image.height}}">
    {% endif %}
{% endthumbnail %}      
{% endfor %}
</a>
</div>  