{% load thumbnail %}

{% for hotel in hotels %}
<div class="hotels-previews">
{% thumbnail hotel.get_image "120" format="PNG" as image %}
    {% if hotel.hotel_type.slug == 'hotel' %}
        <a href="{% url hotel_detail_url hotel.slug %}" class="img-link">
            <img src="{{image.url}}" width="{{image.width}}" height="{{image.height}}">
        </a>
    {% else %}
        <a href="{% url townhouse_detail_url hotel.hotel_type.slug %}" class="img-link">
            <img src="{{image.url}}" width="{{image.width}}" height="{{image.height}}">
        </a>
    {% endif %}
{% endthumbnail %}
</div>                  
{% endfor %}