{% load pymorphy_tags %}

{% regroup hotel_list by hotel_type as hotel_list %}
{% for hotel_type in hotel_list %}
    <span class="hotel_type">{{ hotel_type.grouper.title|plural:room_config.hotel_set.count}}</span>
    {% for hotel in room_config.hotel_set.all %}
        {% if hotel.hotel_type.slug == 'hotel' %}
        <a href="{% url hotel_detail_url hotel.slug %}">«{{hotel.title|upper}}»</a>
        {% else %}
        <a href="{% url townhouse_detail_url hotel.hotel_type.slug %}">«{{hotel.title|upper}}»</a>
        {% endif %}
        {% if not forloop.last %}, {%endif%}
    {% endfor %}
{% endfor %}