{% load pymorphy_tags %}

{% regroup hotel_list by hotel_type as hotel_list %}
{% for hotel_type in hotel_list %}
    {% if hotel_type.grouper.slug == 'hotel' %}
        <a href="" class="room-config-link" data-id="{{room_config.id}}">
        {% for hotel in hotel_type.list %}
            {% if not forloop.first %}
            ИЛИ
            {% endif %}
            «{{hotel.title|upper}}»
        {% endfor %}
        </a><br>
        {% with hotel_count=hotel_type.list|length %}
            <span class="hotels-hint">{{'ГОСТИНИЦА'|plural:hotel_count}}</span>
        {% endwith %}
    {% elif hotel_type.grouper.slug == 'townhouse_4' %}
        <a href="" class="room-config-link" data-id="{{room_config.id}}">
        ТАУНХАУС</a><br>
        <span class="hotels-hint">2 этажа</span>
    {% elif hotel_type.grouper.slug == 'townhouse_6' %}
        <a href="" class="room-config-link" data-id="{{room_config.id}}">
        ТАУНХАУС</a><br>
        <span class="hotels-hint">3 этажа</span>
    {% endif %}
    
{% endfor %}