<div class="page hotel-plax">
    <div class="plax-container">
        <img src="/static/images/hotel_map_odyssey_winter_bottom.png" data-xrange="15" data-yrange="0" data-invert="true">
        <img src="/static/images/hotel_map_odyssey_winter_top.png" data-xrange="15" data-yrange="0">
    </div>
    {% include 'rooms/hotel_map_labels.html' %}
</div>