{% extends 'base.html' %}

{% load thumbnail siteblocks_extras pymorphy_tags %}

{% block content %}
    <div class="page">
        <div class="mega-heading with-decor">
            <span>
                РАЗМЕЩЕНИЕ И ПРОЖИВАНИЕ
                <div class="bottom-decor"></div>
            </span>
        </div>
        <div class="hotel-main">
            {% for hotel in hotel_list %}
            <div class="hotel-box">
                <div class="hotel-img">
                    <a href="{% url hotel_detail_url hotel.slug %}" class="img-link">
                        {% thumbnail hotel.get_image "140" format="PNG" as image %}
                            <img src="{{image.url}}" alt="">
                        {% endthumbnail %}
                    </a>
                </div>
                <div class="hotel-text">
                    <h4><a href="{% url hotel_detail_url hotel.slug %}">{{hotel.hotel_type}} «{{hotel.title}}»</a></h4>
                    <p>{{hotel.short_description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="column-8">
            <div class="townhouses">
                <div class="corner"></div>
                <div class="head"></div>
                <div class="content">
                    {% regroup townhouse_list by hotel_type as townhouse_list %}

                    {% for townhouse_type in townhouse_list %}
                    <div class="townhouse-box">
                        <div class="townhouse-img">
                            <a href="{% url townhouse_detail_url townhouse_type.grouper.slug %}" class="img-link">
                                {% thumbnail townhouse_type.grouper.hotel_set.all.0.get_image "140" format="PNG" as image %}
                                    <img src="{{image.url}}" alt="">
                                {% endthumbnail %}
                            </a>
                        </div>
                        <div class="townhouse-text">
                            <a href="{% url townhouse_detail_url townhouse_type.grouper.slug %}">
                                <h4>{{townhouse_type.grouper.title|inflect:"мн"}}</h4>
                                {{townhouse_type.grouper.label}}
                            </a>
                            <ul>
                            {% for townhouse in townhouse_type.grouper.hotel_set.all %}
                                <li>«{{townhouse.title}}»</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    {% get_special_offers_slider waved='True' %}

{% endblock %}