{% extends 'base.html' %}

{% load thumbnail siteblocks_extras pymorphy_tags %}

{% block head_extra %}
<script src="/static/js/hotel_prices.js"></script>
{% endblock %}

{% block content %}
    {% with template='rooms/hotel_map_'|add:hotel.slug|add:'_'|add:summer_or_winter|add:'.html' %}
        {% include template %}
    {% endwith %}
    <div class="page">
        <div class="column-20">
            <div class="mega-heading">
                <span>
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{% url hotel_list_url %}">Все варианты размещения</a></li>
                        </ul>
                    </div>
                    {{hotel.hotel_type}} {{hotel.title}} {{townhouse_label}}
                </span>
            </div>
            <div class="center-text">
                {{hotel.short_description}}
            </div>
        </div>

        {% if hotel.has_photos %}
        <div class="super-slider column-24">
            <div class="column-4">
                <ul class="left-menu">
                    {% for room in hotel.get_rooms %}
                        {% if forloop.first %}
                        <li class="current">
                            <a href="" class="slider-group-link" data-group="{{room.id}}">{{room.title}}</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="" class="slider-group-link" data-group="{{room.id}}">{{room.title}}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="column-16">
                <div class="image-slider">
                    <div class="slider-container">
                        <div class="with-shadow">
                            <div class="previous"></div>
                            <div class="next"></div>
                            <ul class="slider-window">
                                {% for photo in hotel.get_all_photos %}
                                    <li data-count="{{forloop.counter}}" data-group="{{photo.room.id}}" data-image-id="{{photo.id}}">
                                        {% thumbnail photo.image "600x400" as img %}
                                            <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
                                        {% endthumbnail %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="previews-container">
                    {% for room in hotel.get_rooms %}
                        <ul class="previews menu horizontal {% if forloop.first %}current{% endif %}" data-group="{{room.id}}">
                            {% for photo in room.roomphoto_set.all %}
                            <li {% if forloop.first %}class="current"{% endif %}>
                                <a href="" class="preview-link" data-image-id="{{photo.id}}">
                                    <div class="img-box">
                                        {% thumbnail photo.image "74x74" crop="center" as img %}
                                            <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
                                        {% endthumbnail %}
                                        <img src="/static/images/circle-pic.png" alt="" class="decor not-current-decor">
                                        <img src="/static/images/circle-pic-with-decor.png" alt="" class="decor current-decor">
                                    </div>
                                    <p class="hint">
                                        {{photo.title}}
                                    </p>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="column-4 room-description-container">
                {% for room in hotel.get_rooms %}
                    <div data-group="{{room.id}}" class="room-description redactor {% if forloop.first %}current{%endif%}">
                        {{room.description|safe}}
                    </div>
                {% endfor%}
            </div>
        </div>
        {% endif %}

        {% for room in hotel.get_rooms %}
        <div class="column-24 panorama-container {% if forloop.first %}current{% endif %}" data-group="{{room.id}}">
            <div class="column-20 panorama-box">
                {% if room.preview %}
                <img src="{{room.preview.url}}">
                {% endif %}
            </div>
            <div class="column-4 panorama-switcher">
                {% if hotel.hotel_type.slug == 'hotel' %}
                    {% if room.has_panoramas %}
                    <div class="panorama-menu">
                        <div class="panorama-title">
                            <div class="panorama-arrow"></div>
                            Панорама номера
                        </div>
                        <ul>
                            {% for panorama in room.roompanorama_set.all %}
                            <li>
                                <div class="before"></div>
                                <a href="#panorama_modal_{{room.id}}_{{panorama.id}}" class="fancybox">{{panorama.title}}</a>
                                <div id="panorama_modal_{{room.id}}_{{panorama.id}}" class="modal hidden">
                                    <object type="application/x-shockwave-flash" data="{{panorama.panorama.url}}" width="600" height="300"> 
                                        <param name="movie" value="{{panorama.panorama.url}}" />
                                        <param name="quality" value="high" />
                                        <!-- Sandwich the embed tag inside the object tag -->
                                        <embed src="{{panorama.panorama.url}}" quality="high" />
                                    </object>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="panorama-hint">
                        схематичное изображение номера может отличаться от реального
                    </div>
                {% else %}
                    {% if hotel.has_panoramas %}
                    <div class="panorama-menu">
                        <div class="panorama-title">
                            <div class="panorama-arrow"></div>
                            Панорама номера
                        </div>
                        <ul>
                            {% for panorama in hotel.get_all_panoramas %}
                            <li>
                                <div class="before"></div>
                                <a href="#panorama_modal_{{room.id}}_{{panorama.id}}" class="fancybox">{{panorama.title}}</a>
                                <div id="panorama_modal_{{room.id}}_{{panorama.id}}" class="modal hidden">
                                    <object type="application/x-shockwave-flash" data="{{panorama.panorama.url}}"> 
                                        <param name="movie" value="{{panorama.panorama.url}}" />
                                        <param name="quality" value="high" />
                                        <!-- Sandwich the embed tag inside the object tag -->
                                        <embed src="{{panorama.panorama.url}}" quality="high" />
                                    </object>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="panorama-hint">
                        схематичное изображение номера может отличаться от реального
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <div class="season-box">
            {% include 'rooms/season_table.html' with show_title=False hotel=hotel.id %}
        </div>

        <div class="column-16 pre-8 cell-line order-link">
            <div class="column-5">
                <a href="{% url order_url %}" class="btn"><span>Забронировать номер</span></a>
            </div class="column-11">
            <div class="hint">Вы просто отправите нам заявку,<br>а менеджер с вами свяжется и уточнит все детали</div>
        </div>
    </div>
{% endblock %}

{% block footer_class %}
waved
{% endblock%}