<p>
    <h2>Аврора Клуб - Новый заказ</h2>
    <hr>
    <p>Дата заказа: {{ object.created_at|date:"j E Y" }}</p>
    <p>Имя заказчика: {{ object.name }}</p>
    <p>Телефон заказчика: {{ object.phone }}</p>
    <p>Сезон: {{ object.season }}</p>
    <p>Конфигурация номеров: {{ object.room_config }}</p>
    <p>Желаемая дата заезда: {{ object.desired_date }}</p>
</p>