{% extends 'base.html' %}

{% load thumbnail siteblocks_extras rooms_extras pymorphy_tags %}

{% block content %}
<div class="page">
    <div class="mega-heading with-decor">
        <span>
            РАЗМЕЩЕНИЕ И ПРОЖИВАНИЕ
            <div class="bottom-decor"></div>
        </span>
    </div>

    <form action="{% url order_url %}" method="post" class="order-form">
    {% csrf_token %}
    
    <div class="column-4">
        <label for="">Выбор номера</label>
    </div>
    <div class="column-20">
        <h3>Выберите номер для проживания</h2>
        <br>
        <ul class="column-20 form-room-config">
            {% for room_config in room_config_list %}
            <li class="hotel-item{% if room_config.id|slugify == form.room_config.value|slugify %} current{% endif %}">
                {% get_order_form_hotel_images room_config %}
                {% get_order_room_config_title room_config %}
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="hidden room-config-values">
        {{form.room_config}}
    </div>
    
    <div class="non-room-fields hidden">
        <div class="column-4 season-column">
            <label for="">Выбор Сезона</label>
        </div>
        <div class="column-20 form-season season-column">
            <div class="season-slider">
                {% if season_list.count > 3 %}
                    <div class="previous"></div>
                    <div class="next"></div>
                {% endif %}
                <ul>
                    {% for season in season_list %}
                    <li {% if season.id|slugify == form.season.value|slugify %}class="current"{%endif%}>
                        <div class="season-item">
                            <div><a href="" class="season-link" data-id="{{season.id}}">{{season.title|upper}}</a></div>
                            <div>{% get_period_string season.date_from season.date_to %}</div>
                            {% if season.special_offer_label %}
                            <div class="special-offer-label"><span>{{season.special_offer_label}}</span></div>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="hidden season-values">
            {{form.season}}
        </div>

        <div class="inputs column-24">
            <div class="input-row cell-line">
                <div class="column-4">
                    <label for="order-name">Ваше имя</label>
                </div>
                <div class="column-8 form-line">
                    <div class="input-box">
                        <input type="text" class="input {% if form.name.errors %}with-errors{% endif %}" name="name" id="order-name">
                        <div class="errors-box">
                            {% if form.name.errors %}
                            <div class="errors">{{ form.name.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="column-11 prefix-1 input-hint form-line"> 
                </div>
            </div>
            <div class="input-row cell-line">
                <div class="column-4">
                    <label for="order-phone">Телефон</label>
                </div>
                <div class="column-8 form-line">
                    <div class="input-box">
                        <span class="phone-lead">+7</span><input class="input input-phone {% if form.phone.errors %}with-errors{% endif %}" id="order-phone" type="text" name="phone">
                        <div class="errors-box">
                            {% if form.phone.errors %}
                            <div class="errors">{{ form.phone.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="column-11 prefix-1 input-hint form-line">
                    Ваш номер телефона необходим чтобы уточнить все детали    
                </div>
            </div>
            <div class="input-row cell-line">
                <div class="column-4">
                    <label for="order-desired-date">Желаемая дата заезда</label>
                </div>
                <div class="column-8 form-line">
                    <div class="input-box">
                        <input type="text" class="input {% if form.desired_date.errors %}with-errors{% endif %}" name="desired_date" id="order-desired-date">
                        <div class="errors-box">
                            {% if form.desired_date.errors %}
                            <div class="errors">{{ form.desired_date.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class=" column-11 prefix-1 input-hint form-line">
                    Можно заполнять в свободной форме.<br>Например, “24 апреля” или “в ближайшие выходные”     
                </div>
            </div>
        </div>

        <div class="column-20 pre-4 form-controls">
            <button type="submit" class="btn"><span>Отправить заявку</span></button>
            <span class="controls-hint">или забронировать по телефону 
                <span class="controls-hint-phone">
                    +7 (812) 595-02-90
                    <div class="controls-hint-phone-hint">
                        с 10:00 до 19:00 ПН.-ПТ.
                    </div>
                </span>
            </span>
        </div>
    </div>
</form>
</div>
{% endblock %}

{% block footer_class %}
waved
{% endblock %}