{% extends 'base.html' %}

{% load thumbnail siteblocks_extras %}

{% block head_extra %}
<script src="/static/js/season_prices.js"></script>
{% endblock %}

{% block content %}
<div class="page">
    {% include 'prices_header.html' %}

    <div class="season-box" data-get-season-url="{% url get_season_table_url %}" data-current-season-id="{{season.id}}">
        
    </div>

    <div class="column-20 pre-4 cell-line order-link">
        <div class="column-5">
            <a href="{% url order_url %}" class="btn"><span>Забронировать номер</span></a>
        </div class="column-11">
        <div class="hint">Вы просто отправите нам заявку,<br>а менеджер с вами свяжется и уточнит все детали</div>
    </div>
</div>
{% endblock %}

{% block footer_class %}
waved
{% endblock %}