{% extends 'base.html' %}

{% load thumbnail siteblocks_extras pymorphy_tags %}

{% block content %}
<div class="page">
    <div class="mega-heading with-decor">
        <span>
            Рестораны и кафе
            <div class="bottom-decor"></div>
        </span>
    </div>

    {% if all_restaurants_images %}
        <div class="super-slider rest-slider column-24">
            <div class="column-4">
                <ul class="left-menu">
                    {% for restaurant in restaurants %}
                        {% if forloop.first %}
                        <li class="current">
                            <a href="" class="slider-group-link rest-slider-link" data-group="{{restaurant.id}}">{{restaurant.get_restaurant_type_display}}<br>{{restaurant.title}}</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="" class="slider-group-link rest-slider-link" data-group="{{restaurant.id}}">{{restaurant.get_restaurant_type_display}}<br>{{restaurant.title}}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="column-16">
                <div class="image-slider">
                    <div class="slider-container">
                        <div class="with-shadow">
                            <div class="previous"></div>
                            <div class="next"></div>
                            <ul class="slider-window">
                                {% for photo in all_restaurants_images %}
                                    <li data-count="{{forloop.counter}}" data-group="{{photo.restaurant.id}}" data-image-id="{{photo.id}}">
                                        {% thumbnail photo.image "600x400" as img %}
                                            <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
                                        {% endthumbnail %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="previews-container">
                    {% for restaurant in restaurants %}
                        <ul class="previews menu horizontal {% if forloop.first %}current{% endif %}" data-group="{{restaurant.id}}">
                            {% for photo in restaurant.restaurantimage_set.all %}
                            <li {% if forloop.first %}class="current"{% endif %}>
                                <a href="" class="preview-link" data-image-id="{{photo.id}}">
                                    <div class="img-box">
                                        {% thumbnail photo.image "74x74" crop="center" as img %}
                                            <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
                                        {% endthumbnail %}
                                        <img src="/static/images/circle-pic.png" alt="" class="decor not-current-decor">
                                        <img src="/static/images/circle-pic-with-decor.png" alt="" class="decor current-decor">
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                    </div>
                </div>
            </div>

            <div class="column-4 room-description-container">
                {% for restaurant in restaurants %}
                    <div data-group="{{restaurant.id}}" class="room-description redactor {% if forloop.first %}current{%endif%}">
                        {{restaurant.description|safe}}
                    </div>
                {% endfor%}
            </div>
        </div>
    {% endif %}

    <div class="restraunts-about">
        <div class="column-3 post-1">
            <h3>Комплексное питание</h3>
            <div class="redactor">
                {{restraunts_heading_text|safe}}
            </div>
        </div>
        <div class="column-6 post-2">
            <div class="redactor">
                {{restraunts_adults_text|safe}}
            </div>
        </div>
        <div class="column-6 post-2">
            <div class="redactor">
                {{restraunts_children_text|safe}}
            </div>
        </div>
        <div class="column-4 special">
            <div class="corner"></div>
            <div class="head"></div>
            <div class="content">
                <div class="redactor">
                    {{restraunts_order_text|safe}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_class%}
waved
{% endblock %}