{% load thumbnail siteblocks_extras rooms_extras pymorphy_tags %}

<div class="mega-heading season-heading">
    {% if season.get_prev_not_archive_season %}
    <a href="{% url get_season_table_url %}?season={{season.get_prev_season.id}}{% if show_title %}&with_title=1{%endif%}{% if hotel %}&hotel={{hotel}}{%endif%}" class="season-link"><div class="before"></div></a>
    {% else %}
    <div class="before inactive"></div>
    {% endif %}

    <div class="season">
        <div>{{season.title|upper}}</div>
        <div class="period">{% get_period_string season.date_from season.date_to %}</div>
    </div>
    {% if season.special_offer_label %}
    <div class="special-offer-label">
        <span class="wrap wrap-1">
            <span class="wrap wrap-2">
                <span class="wrap wrap-3">
                    {{season.special_offer_label}}
                </span>
            </span>
        </span>
    </div>
    {% endif %}

    {% if season.get_next_season %}
    <a href="{% url get_season_table_url %}?season={{season.get_next_season.id}}{% if show_title %}&with_title=1{%endif%}{% if hotel %}&hotel={{hotel}}{%endif%}" class="season-link"><div class="after"></div></a>
    {% else %}
    <div class="after inactive"></div>
    {% endif %}
</div>
{% if season_has_prices %}
<div class="season-table">
    <table>
        <thead>
            <td></td>
            {% for price_type in season.get_price_types %}
            <td>
            <div>{{price_type.title}}</div>
            <div class="price-type-desc">{{price_type.description}}</div>
            </td>
            {% endfor %}
        </thead>

        <tbody>
        {% regroup room_price_list by room_config as room_price_list %}
        {% for room_config in room_price_list %}
            {% if not hotel %}
            <tr class="room-config-title">
                <td colspan="5">
                    <h2>{% get_room_config_title room_config.grouper %}</h2>
                    <div class="hotels-images">
                    {% get_room_config_hotel_images room_config.grouper %}
                    </div>
                </td>
            </tr>
            {% endif %}
            {% for room in room_config.list %}
            <tr class="row">
                <td class="row-title">
                <div class="before"></div>
                {{ room.title }}
                </td>
                {% for price in room.season_prices %}
                <td {% if forloop.last %}class="row-last"{% endif %}>
                    <div class="price-box">
                        {{price.price}} {% if price.is_numeric %}<span class="ruble">&#8399;</span>{% endif %}
                    </div>  
                    {% if forloop.last %}
                    <div class="after"></div>
                    {% endif %}                  
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr class="separator"></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}