{% extends "base.html" %}

{% load thumbnail siteblocks_extras %}

{% block title %}
    {% if not meta.title or meta.title == '' %}
        {{ page.title }} &mdash;
    {% else %}
        {{ meta.title }} &mdash;
    {% endif %}
{% endblock %}

{% block content %}
<div class="page">
    {% if '/info/' in request.path %}
        {% include 'about_header.html' %}
    {% elif '/for_corporate_clients/' in request.path %}
        {% include 'corpo_header.html' %}
    {% elif '/prices/' in request.path %}
        {% include 'prices_header.html' %}
    {% endif %}
    <div class="column-20">
        <div class="column-4">
            <a href="/full_map/" class="img-link">
                {% if summer_or_winter == 'summer' %}
                    <img src="/static/images/minimap-summer.png" width="120">
                {% else %}
                    <img src="/static/images/minimap-winter.png" width="120">
                {% endif %}
            </a>
            <p><a href="/full_map/">Карта курорта</a></p>
        </div>

        <div class="column-16 main-text-column redactor text-page">
            <h1>{{ page.title }}</h1>
            {{ page.content|safe }}
        </div>
    </div>
    <div class="column-4">
        {% get_sidebar_two_addresses %} 
    </div>
</div>
{% get_special_offers_slider waved='True' %}

{% endblock %}