@font-face {
  font-family: "Archive";
  src: url("../fonts/archive-webfont.eot?"), url("../fonts/archive-webfont.ttf") format("truetype"), url("../fonts/archive-webfont.svg#archiveregular") format("svg");
}

/* line 39, ../sass/_base.scss */
.column-4 {
  width: 160px;
  float: left;
  margin-right: 0px;
}

/* line 39, ../sass/_base.scss */
.column-8 {
  width: 320px;
  float: left;
  margin-right: 0px;
}

/* line 39, ../sass/_base.scss */
.column-16 {
  width: 640px;
  float: left;
  margin-right: 0px;
}

/* line 39, ../sass/_base.scss */
.column-17 {
  width: 680px;
  float: left;
  margin-right: 0px;
}

/* line 39, ../sass/_base.scss */
.column-20 {
  width: 800px;
  float: left;
  margin-right: 0px;
}

/* line 39, ../sass/_base.scss */
.column-24 {
  width: 960px;
  float: left;
  margin-right: 0px;
}

/* line 17, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/style.scss */
img {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 14, ../sass/style.scss */
h1, h3 {
  font-family: 'Archive';
}

/* line 18, ../sass/style.scss */
h1 {
  font-size: 32px;
  line-height: 36px;
}

/* line 23, ../sass/style.scss */
h3 {
  font-size: 18px;
}

/* line 27, ../sass/style.scss */
h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

/* line 33, ../sass/style.scss */
.mega-heading {
  margin-left: 160px;
  margin-bottom: 24px;
  font-size: 32px;
  font-family: Archive;
}
/* line 39, ../sass/style.scss */
.mega-heading span {
  position: relative;
}
/* line 44, ../sass/style.scss */
.mega-heading.with-decor span:before, .mega-heading.with-decor span:after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
}
/* line 51, ../sass/style.scss */
.mega-heading.with-decor span:before {
  background: url('../images/heading-decor-left.png?1364885622') no-repeat;
  width: 34px;
  height: 18px;
  left: -40px;
}
/* line 56, ../sass/style.scss */
.mega-heading.with-decor span:after {
  background: url('../images/heading-decor-right.png?1364885622') no-repeat;
  width: 34px;
  height: 18px;
  right: -40px;
}
/* line 61, ../sass/style.scss */
.mega-heading.with-decor .bottom-decor {
  position: absolute;
  background: url('../images/heading-decor-bottom.png?1364885622') no-repeat;
  width: 311px;
  height: 34px;
  left: 50%;
  margin-left: -155.5px;
  z-index: -1;
}

/* line 71, ../sass/style.scss */
html {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

/* line 78, ../sass/style.scss */
a, a:visited {
  text-decoration: none;
  border-bottom: 1px white solid;
  color: white;
}

/* line 84, ../sass/style.scss */
p {
  margin-bottom: 12px;
}

/* line 88, ../sass/style.scss */
h1 {
  margin-bottom: 18px;
}

/* line 92, ../sass/style.scss */
.header, .page, .footer-content {
  width: 960px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.header:after, .page:after, .footer-content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 2, ../sass/_mixins.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 6, ../sass/_mixins.scss */
body {
  margin-bottom: 172px;
  /* bottom = footer height */
}

/* line 9, ../sass/_mixins.scss */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 172px;
}

/* line 98, ../sass/style.scss */
body {
  background: #004780;
}

/* line 102, ../sass/style.scss */
.plax-container {
  position: absolute;
  top: -96px;
  left: 0;
}
/* line 107, ../sass/style.scss */
.plax-container img {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 116, ../sass/style.scss */
.header .menu li.current,
.header .menu li:hover {
  background: url('../images/menu-current.png?1364885622');
  background-size: 100% 100%;
  margin-left: -5px;
  padding-left: 5px;
  margin-right: 23px;
  padding-right: 5px;
  margin-bottom: -5px;
  padding-bottom: 5px;
  border-radius: 4px;
}
/* line 127, ../sass/style.scss */
.header .menu li.current a,
.header .menu li:hover a {
  color: #563103;
  border: none;
}
/* line 134, ../sass/style.scss */
.header .menu li.special-link.current,
.header .menu li.special-link:hover {
  background: none;
}

/* line 141, ../sass/style.scss */
.sub-menu .menu li.current,
.sub-menu .menu li:hover {
  background: #03658c;
  margin-top: -5px;
  padding-top: 5px;
  margin-left: -10px;
  padding-left: 10px;
  margin-right: 40px;
  padding-right: 10px;
  margin-bottom: -5px;
  padding-bottom: 5px;
  border-radius: 4px;
}
/* line 153, ../sass/style.scss */
.sub-menu .menu li.current a,
.sub-menu .menu li:hover a {
  border: none;
}

/* line 159, ../sass/style.scss */
.top-wave-bg {
  background: url('../images/wave-top.png?1364885622') repeat-x;
  height: 12px;
  position: relative;
  top: -12px;
}

/* line 166, ../sass/style.scss */
.bottom-wave-bg {
  background: url('../images/wave-bottom.png?1364885622') repeat-x;
  height: 12px;
  position: relative;
  top: 12px;
}

/* line 174, ../sass/style.scss */
.menu.horizontal li {
  display: inline-block;
}

/* line 179, ../sass/style.scss */
.main-text-column {
  width: 560px;
  float: left;
  margin-right: 0px;
  padding-right: 80px;
}

/* line 184, ../sass/style.scss */
div.main-text-column + div.mega-heading {
  margin-top: 48px;
}

/* line 188, ../sass/style.scss */
.column-4.special {
  background: #015385;
  margin-top: -7px;
  padding-top: 7px;
  margin-left: -23px;
  padding-left: 23px;
  margin-right: -6px;
  padding-right: 6px;
  margin-bottom: -12px;
  padding-bottom: 12px;
}
/* line 195, ../sass/style.scss */
.column-4.special .content {
  margin-top: -7px;
  padding-top: 7px;
  margin-left: -23px;
  padding-left: 23px;
  margin-right: -6px;
  padding-right: 6px;
  margin-bottom: -12px;
  padding-bottom: 12px;
}
/* line 202, ../sass/style.scss */
.column-4.special .corner {
  margin-top: -7px;
  padding-top: 7px;
  margin-left: -23px;
  padding-left: 23px;
}
/* line 207, ../sass/style.scss */
.column-4.special .head {
  margin-top: -7px;
  padding-top: 7px;
  margin-left: -23px;
  padding-left: 23px;
  margin-right: -6px;
  padding-right: 6px;
}
/* line 213, ../sass/style.scss */
.column-4.special p {
  margin-bottom: 12px;
}
/* line 217, ../sass/style.scss */
.column-4.special p:first-child {
  margin-top: 12px;
}
/* line 221, ../sass/style.scss */
.column-4.special .hr {
  height: 1px;
  background: #004780;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 10px;
  margin-left: -7px;
  padding-left: 7px;
}
/* line 230, ../sass/style.scss */
.column-4.special a {
  font-style: italic;
}
/* line 234, ../sass/style.scss */
.column-4.special h3 {
  margin-bottom: 12px;
}

/* line 239, ../sass/style.scss */
.sub-menu .menu {
  margin-left: 160px;
  margin-bottom: 36px;
}
/* line 243, ../sass/style.scss */
.sub-menu .menu li {
  margin-right: 50px;
  font-family: Archive;
  font-size: 18px;
}

/* line 251, ../sass/style.scss */
.link-with-round-image p {
  font-size: 14px;
  line-height: 18px;
  color: #6393a6;
}

/* line 258, ../sass/style.scss */
.img-box {
  position: relative;
}
/* line 261, ../sass/style.scss */
.img-box .decor {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 268, ../sass/style.scss */
h3.with-right-decor {
  position: relative;
  left: -4px;
}
/* line 272, ../sass/style.scss */
h3.with-right-decor:before {
  content: '';
  display: inline-block;
  background: url('../images/small-decor-left.png?1364885622') no-repeat;
  width: 15px;
  height: 11px;
  margin-right: 5px;
}

/* line 280, ../sass/style.scss */
.page {
  margin-bottom: 48px;
}

/* line 284, ../sass/style.scss */
.corner {
  float: left;
  background: url('../images/corner.png?1365153845') no-repeat;
  width: 16px;
  height: 16px;
}

/* line 290, ../sass/style.scss */
.special .head,
.townhouses .head {
  height: 15px;
  border-top: 1px solid #366f9d;
  border-right: 1px solid #366f9d;
}

/* line 297, ../sass/style.scss */
.special .content,
.townhouses .content {
  border-left: 1px solid #366f9d;
  border-right: 1px solid #366f9d;
  border-bottom: 1px solid #366f9d;
}

/* line 306, ../sass/style.scss */
.rays {
  position: absolute;
  background: url('../images/rays.png?1365164381') no-repeat;
  width: 685px;
  height: 492px;
  top: -40px;
  left: -235px;
  z-index: -1;
}

/* line 313, ../sass/style.scss */
.header {
  position: relative;
  height: 168px;
  padding-top: 24px;
  margin-bottom: 24px;
}

/* line 320, ../sass/style.scss */
.header-top {
  margin-top: 20px;
}

/* line 324, ../sass/style.scss */
.main-logo {
  width: 120px;
  float: left;
  margin-right: 0px;
}

/* line 328, ../sass/style.scss */
.header-top, .header-bottom {
  width: 800px;
  float: left;
  margin-right: 0px;
  margin-left: 40px;
}

/* line 333, ../sass/style.scss */
.main-heading {
  width: 720px;
  float: left;
  margin-right: 0px;
}

/* line 337, ../sass/style.scss */
.contacts-link {
  width: 80px;
  float: left;
  margin-right: 0px;
  font-size: 14px;
  line-height: 16px;
}
/* line 342, ../sass/style.scss */
.contacts-link a {
  border-style: dotted;
}

/* line 347, ../sass/style.scss */
.header-bottom {
  margin-top: 24px;
}

/* line 351, ../sass/style.scss */
.header-bottom .menu {
  height: 36px;
  line-height: 36px;
}
/* line 355, ../sass/style.scss */
.header-bottom .menu img {
  vertical-align: middle;
}
/* line 359, ../sass/style.scss */
.header-bottom .menu li {
  margin-right: 28px;
  font-family: Archive;
  font-size: 18px;
}

/* line 366, ../sass/style.scss */
.special-offers-link {
  position: relative;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
/* line 370, ../sass/style.scss */
.special-offers-link a {
  border: none;
}
/* line 374, ../sass/style.scss */
.special-offers-link .hint {
  position: absolute;
  top: 50px;
  left: -110px;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  line-height: 16px;
  color: #69addc;
}
/* line 384, ../sass/style.scss */
.special-offers-link .hint:after {
  content: '';
  display: block;
  position: absolute;
  top: -12px;
  right: -35px;
  background: url('../images/special-offers-arrow.png?1364885622') no-repeat;
  width: 29px;
  height: 21px;
}

/* line 397, ../sass/style.scss */
.index-plax {
  position: relative;
  height: 696px;
  margin-bottom: 48px;
}

/* line 403, ../sass/style.scss */
.special-offers-slider {
  position: absolute;
  bottom: 0;
}
/* line 407, ../sass/style.scss */
.special-offers-slider .previous, .special-offers-slider .next {
  top: 30%;
}
/* line 411, ../sass/style.scss */
.special-offers-slider .previous {
  left: -30px;
}
/* line 415, ../sass/style.scss */
.special-offers-slider .next {
  right: -30px;
}
/* line 419, ../sass/style.scss */
.special-offers-slider h3 {
  color: #6393a6;
}
/* line 423, ../sass/style.scss */
.special-offers-slider .image-slider {
  display: inline-block;
  position: relative;
}
/* line 429, ../sass/style.scss */
.special-offers-slider .text-slider a {
  font-weight: bold;
}

/* line 435, ../sass/style.scss */
.promo-slider {
  position: relative;
}
/* line 438, ../sass/style.scss */
.promo-slider a {
  border: none;
}
/* line 442, ../sass/style.scss */
.promo-slider .previous, .promo-slider .next {
  top: 60px;
}
/* line 446, ../sass/style.scss */
.promo-slider .previous {
  left: -30px;
}
/* line 450, ../sass/style.scss */
.promo-slider .next {
  right: -30px;
}
/* line 454, ../sass/style.scss */
.promo-slider li {
  text-align: center;
}

/* line 460, ../sass/style.scss */
.promo-slider .previous, .promo-slider .next, .special-offers-slider .previous, .special-offers-slider .next {
  position: absolute;
  cursor: pointer;
}
/* line 465, ../sass/style.scss */
.promo-slider .previous, .special-offers-slider .previous {
  background: url('../images/slider-back-arrow.png?1364885622') no-repeat;
  width: 23px;
  height: 38px;
}
/* line 469, ../sass/style.scss */
.promo-slider .next, .special-offers-slider .next {
  background: url('../images/slider-next-arrow.png?1364885622') no-repeat;
  width: 23px;
  height: 38px;
}

/* line 474, ../sass/style.scss */
.promo-box {
  width: 320px;
  float: left;
  margin-right: 0px;
  position: relative;
}
/* line 478, ../sass/style.scss */
.promo-box .text {
  position: absolute;
  top: 0;
  left: 10px;
  background: #03658c;
  padding: 15px;
  border-radius: 9px;
  text-align: left;
  font-family: Archive;
  font-size: 18px;
  line-height: 24px;
}
/* line 490, ../sass/style.scss */
.promo-box .text .hint {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 14px;
}

/* line 498, ../sass/style.scss */
.promo-page.waved {
  background: #071f4e;
}
/* line 501, ../sass/style.scss */
.promo-page.waved .page {
  margin-bottom: 0;
}

/* line 507, ../sass/style.scss */
.image-link-box {
  margin-top: 60px;
}

/* line 511, ../sass/style.scss */
.map-labels {
  position: relative;
}
/* line 514, ../sass/style.scss */
.map-labels .label {
  position: absolute;
  display: inline-block;
  text-align: center;
}
/* line 519, ../sass/style.scss */
.map-labels .label p {
  background: #03658c;
  padding: 15px;
  border-radius: 9px;
  text-align: center;
  font-family: Archive;
  font-size: 14px;
  line-height: 18px;
}
/* line 529, ../sass/style.scss */
.map-labels .label img {
  position: relative;
  top: 15px;
}
/* line 535, ../sass/style.scss */
.map-labels .horse {
  right: 5px;
  top: -35px;
}
/* line 540, ../sass/style.scss */
.map-labels .skates {
  right: 35px;
  top: 150px;
}
/* line 545, ../sass/style.scss */
.map-labels .sauna {
  right: 400px;
  top: 0;
}

/* line 551, ../sass/style.scss */
.hotel-main {
  width: 640px;
  float: left;
  margin-right: 0px;
  margin-left: -32px;
  padding-right: 32px;
  margin-top: 48px;
}

/* line 558, ../sass/style.scss */
.hotel-img, .hotel-text {
  display: inline-block;
  margin-bottom: 24px;
}

/* line 563, ../sass/style.scss */
.hotel-text {
  width: 440px;
  vertical-align: top;
  margin-top: 24px;
}
/* line 568, ../sass/style.scss */
.hotel-text h4 {
  margin-bottom: 6px;
}

/* line 573, ../sass/style.scss */
.townhouses {
  background: #015385;
  margin-left: 6px;
  margin-right: 9px;
  margin-top: 48px;
}
/* line 579, ../sass/style.scss */
.townhouses .content {
  padding-bottom: 24px;
  padding-top: 16px;
}

/* line 585, ../sass/style.scss */
.townhouse-box {
  margin-left: 24px;
  margin-bottom: 24px;
}

/* line 590, ../sass/style.scss */
.townhouse-img, .townhouse-text {
  display: inline-block;
  vertical-align: top;
}

/* line 596, ../sass/style.scss */
.townhouse-text ul li {
  font-style: italic;
  color: #6393a6;
}

/* line 602, ../sass/style.scss */
.super-slider {
  margin-top: 24px;
}
/* line 605, ../sass/style.scss */
.super-slider .left-menu li a {
  color: #f28f16;
  border-bottom: 1px dotted #f28f16;
  line-height: 36px;
}
/* line 611, ../sass/style.scss */
.super-slider .left-menu li.current a {
  color: white;
  border: none;
  cursor: default;
  position: relative;
}
/* line 617, ../sass/style.scss */
.super-slider .left-menu li.current a:before, .super-slider .left-menu li.current a:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
}
/* line 624, ../sass/style.scss */
.super-slider .left-menu li.current a:before {
  background: url('../images/small-decor-left.png?1364885622') no-repeat;
  width: 15px;
  height: 11px;
  left: -25px;
}
/* line 629, ../sass/style.scss */
.super-slider .left-menu li.current a:after {
  background: url('../images/small-decor-right.png?1364885622') no-repeat;
  width: 15px;
  height: 11px;
  right: -25px;
}
/* line 635, ../sass/style.scss */
.super-slider .image-slider {
  position: relative;
}
/* line 638, ../sass/style.scss */
.super-slider .image-slider .previous, .super-slider .image-slider .next {
  position: absolute;
  top: 170px;
  width: 65px;
  height: 65px;
  cursor: pointer;
  background: url('../images/slider-buttons.png?1359109929');
}
/* line 646, ../sass/style.scss */
.super-slider .image-slider .previous.inactive, .super-slider .image-slider .next.inactive {
  cursor: default;
}
/* line 651, ../sass/style.scss */
.super-slider .image-slider .previous {
  background-position: 0 0;
  left: -40px;
}
/* line 655, ../sass/style.scss */
.super-slider .image-slider .previous.inactive {
  background-position: 0 -88px;
}
/* line 660, ../sass/style.scss */
.super-slider .image-slider .next {
  background-position: -88px 0;
  right: 15px;
}
/* line 664, ../sass/style.scss */
.super-slider .image-slider .next.inactive {
  background-position: -88px -88px;
}
/* line 670, ../sass/style.scss */
.super-slider .previews {
  margin-top: 24px;
}
/* line 673, ../sass/style.scss */
.super-slider .previews li {
  margin-right: 30px;
}

/* line 679, ../sass/style.scss */
.contacts-box {
  margin-top: 24px;
  margin-bottom: 24px;
}
/* line 683, ../sass/style.scss */
.contacts-box .column-4 {
  padding-top: 24px;
}

/* line 690, ../sass/style.scss */
.footer-inner {
  margin-top: 72px;
  height: 100px;
}
/* line 694, ../sass/style.scss */
.footer.waved .footer-inner {
  background: #071f4e;
}

/* line 699, ../sass/style.scss */
.footer .menu {
  height: 36px;
  line-height: 36px;
  margin-top: 12px;
}
/* line 704, ../sass/style.scss */
.footer .menu img {
  vertical-align: middle;
}
/* line 708, ../sass/style.scss */
.footer .menu li {
  font-family: Archive;
  font-size: 18px;
}
/* line 713, ../sass/style.scss */
.footer .menu li:after {
  content: '';
  display: inline-block;
  background: url('../images/list-marker.png?1364885622') no-repeat;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  margin-right: 6px;
}
/* line 721, ../sass/style.scss */
.footer .menu li:last-child:after {
  display: none;
}

/* line 726, ../sass/style.scss */
.footer .contacts-link {
  width: 120px;
  float: left;
  margin-right: 0px;
  margin-top: 12px;
  position: relative;
}
/* line 731, ../sass/style.scss */
.footer .contacts-link a {
  color: #838fa7;
  border-color: #838fa7;
}
/* line 735, ../sass/style.scss */
.footer .contacts-link a:after {
  content: '';
  display: block;
  position: absolute;
  background: url('../images/arrow-up.png?1364885622') no-repeat;
  width: 21px;
  height: 13px;
  top: 0;
  right: 10px;
}
