/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Archive";
  src: url("../fonts/archive-webfont.eot?"), url("../fonts/archive-webfont.ttf") format("truetype"), url("../fonts/archive-webfont.svg#archiveregular") format("svg");
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTS55F_W.eot?"), url("../fonts/PTS55F_W.ttf") format("truetype"), url("../fonts/PTS55F_W.svg#PTSans-Regular") format("svg");
}

/* line 40, ../sass/_base.scss */
.column-2 {
  width: 80px;
  float: left;
  margin-right: 0px;
}

/* line 40, ../sass/_base.scss */
.column-3 {
  width: 120px;
  float: left;
  margin-right: 0px;
}

/* line 40, ../sass/_base.scss */
.column-4 {
  width: 160px;
  float: left;
  margin-right: 0px;
}

/* line 40, ../sass/_base.scss */
.column-5 {
  width: 200px;
  float: left;
  margin-right: 0px;
}

/* line 40, ../sass/_base.scss */
.column-6 {
  width: 240px;
  float: left;
  margin-right: 0px;
}

/* line 40, ../sass/_base.scss */
.column-7 {
  width: 280px;
  float: left;
  margin-right: 0px;
}

/* line 40, ../sass/_base.scss */
.column-8 {
  width: 320px;
  float: left;
  margin-right: 0px;
}

/* line 40, ../sass/_base.scss */
.column-11 {
  width: 440px;
  float: left;
  margin-right: 0px;
}

/* line 40, ../sass/_base.scss */
.column-14 {
  width: 560px;
  float: left;
  margin-right: 0px;
}

/* line 40, ../sass/_base.scss */
.column-15 {
  width: 600px;
  float: left;
  margin-right: 0px;
}

/* line 40, ../sass/_base.scss */
.column-16 {
  width: 640px;
  float: left;
  margin-right: 0px;
}

/* line 40, ../sass/_base.scss */
.column-17 {
  width: 680px;
  float: left;
  margin-right: 0px;
}

/* line 40, ../sass/_base.scss */
.column-18 {
  width: 720px;
  float: left;
  margin-right: 0px;
}

/* line 40, ../sass/_base.scss */
.column-20 {
  width: 800px;
  float: left;
  margin-right: 0px;
}

/* line 40, ../sass/_base.scss */
.column-24 {
  width: 960px;
  float: left;
  margin-right: 0px;
}

/* line 45, ../sass/_base.scss */
.post-1 {
  margin-right: 40px;
}

/* line 45, ../sass/_base.scss */
.post-2 {
  margin-right: 80px;
}

/* line 50, ../sass/_base.scss */
.pre-1 {
  margin-left: 40px;
}

/* line 50, ../sass/_base.scss */
.pre-2 {
  margin-left: 80px;
}

/* line 50, ../sass/_base.scss */
.pre-3 {
  margin-left: 120px;
}

/* line 50, ../sass/_base.scss */
.pre-4 {
  margin-left: 160px;
}

/* line 50, ../sass/_base.scss */
.pre-8 {
  margin-left: 320px;
}

/* line 55, ../sass/_base.scss */
.suffix-1 {
  padding-right: 40px;
}

/* line 55, ../sass/_base.scss */
.suffix-2 {
  padding-right: 80px;
}

/* line 61, ../sass/_base.scss */
.prefix-1 {
  padding-left: 40px;
}

/* line 61, ../sass/_base.scss */
.prefix-2 {
  padding-left: 80px;
}

/* line 12, ../sass/style.scss */
img {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 17, ../sass/style.scss */
button {
  border: none;
  outline: none;
}

/* line 24, ../sass/style.scss */
html {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

/* line 31, ../sass/style.scss */
a, a:visited {
  text-decoration: none;
  border-bottom: 1px #a3b3c6 solid;
  color: white;
}

/* line 37, ../sass/style.scss */
a:hover {
  color: #f28f16;
  border-color: #796b4b;
}

/* line 42, ../sass/style.scss */
p {
  margin-bottom: 12px;
}

/* line 46, ../sass/style.scss */
.header, .page, .footer-content {
  width: 960px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.header:after, .page:after, .footer-content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 50, ../sass/style.scss */
.hidden {
  display: none;
}

/* line 2, ../sass/_mixins.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 6, ../sass/_mixins.scss */
body {
  margin-bottom: 172px;
  /* bottom = footer height */
}

/* line 9, ../sass/_mixins.scss */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 172px;
}

/* line 56, ../sass/style.scss */
body {
  background: #004780;
}

/* line 60, ../sass/style.scss */
b {
  font-weight: bold;
}

/* line 64, ../sass/style.scss */
h1, h2, h3 {
  font-family: 'Archive';
}

/* line 68, ../sass/style.scss */
h1 {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 18px;
}

/* line 74, ../sass/style.scss */
h2 {
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 18px;
}

/* line 80, ../sass/style.scss */
h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

/* line 85, ../sass/style.scss */
h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

/* line 91, ../sass/style.scss */
.cell-line {
  display: table;
  table-layout: fixed;
}
/* line 95, ../sass/style.scss */
.cell-line > div {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

/* line 102, ../sass/style.scss */
.ruble {
  font-family: "PT Sans", serif;
}

/* line 106, ../sass/style.scss */
.modal {
  padding: 40px;
}
/* line 109, ../sass/style.scss */
.modal:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #6393a6;
  height: 10px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 123, ../sass/style.scss */
.modal-close {
  background: url('../images/modal-close.png?1372926036') no-repeat;
  width: 36px;
  height: 36px;
  position: absolute;
  top: -33px;
  right: -33px;
  cursor: pointer;
}

/* line 131, ../sass/style.scss */
.super-slider .image-slider .with-shadow img {
  margin-bottom: -6px;
}

/* line 135, ../sass/style.scss */
.mega-heading {
  margin-left: 160px;
  margin-bottom: 24px;
  font-size: 32px;
  font-family: Archive;
}
/* line 141, ../sass/style.scss */
.mega-heading span {
  position: relative;
}
/* line 146, ../sass/style.scss */
.mega-heading.with-decor span:before, .mega-heading.with-decor span:after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
}
/* line 153, ../sass/style.scss */
.mega-heading.with-decor span:before {
  background: url('../images/heading-decor-left.png?1369815837') no-repeat;
  width: 34px;
  height: 18px;
  left: -40px;
}
/* line 158, ../sass/style.scss */
.mega-heading.with-decor span:after {
  background: url('../images/heading-decor-right.png?1369815837') no-repeat;
  width: 34px;
  height: 18px;
  right: -40px;
}
/* line 163, ../sass/style.scss */
.mega-heading.with-decor .bottom-decor {
  position: absolute;
  background: url('../images/heading-decor-bottom.png?1369815837') no-repeat;
  width: 311px;
  height: 34px;
  left: 50%;
  margin-left: -155.5px;
  z-index: -1;
}
/* line 172, ../sass/style.scss */
.mega-heading.season-heading {
  position: relative;
  margin-top: 48px;
  display: inline-block;
}
/* line 178, ../sass/style.scss */
.mega-heading.season-heading .before,
.mega-heading.season-heading .after {
  content: '';
  display: block;
  position: absolute;
}
/* line 184, ../sass/style.scss */
.mega-heading.season-heading .before {
  background: url('../images/slider-back-arrow.png?1383006619') no-repeat;
  width: 23px;
  height: 38px;
  top: 7px;
  left: -50px;
}
/* line 189, ../sass/style.scss */
.mega-heading.season-heading .before.inactive {
  opacity: 0.6;
}
/* line 194, ../sass/style.scss */
.mega-heading.season-heading .after {
  background: url('../images/slider-next-arrow.png?1383006689') no-repeat;
  width: 23px;
  height: 38px;
  top: 7px;
  right: -50px;
}
/* line 199, ../sass/style.scss */
.mega-heading.season-heading .after.inactive {
  opacity: 0.6;
}
/* line 205, ../sass/style.scss */
.mega-heading.season-heading .season,
.mega-heading.season-heading .special-offer-label {
  display: inline-block;
}
/* line 209, ../sass/style.scss */
.mega-heading.season-heading .special-offer-label {
  max-width: 120px;
  margin-left: 30px;
  vertical-align: top;
}
/* line 214, ../sass/style.scss */
.mega-heading.season-heading .special-offer-label .wrap {
  background: #f28f16;
  position: relative;
  padding: 5px 0;
}
/* line 220, ../sass/style.scss */
.mega-heading.season-heading .special-offer-label .wrap-1 {
  left: -20px;
}
/* line 224, ../sass/style.scss */
.mega-heading.season-heading .special-offer-label .wrap-2 {
  left: 20px;
}
/* line 228, ../sass/style.scss */
.mega-heading.season-heading .special-offer-label .wrap-3 {
  left: -10px;
}
/* line 234, ../sass/style.scss */
.mega-heading.season-heading .period,
.mega-heading.season-heading .special-offer-label {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 16px;
}
/* line 239, ../sass/style.scss */
.mega-heading.season-heading .period {
  margin-top: 8px;
}

/* line 245, ../sass/style.scss */
.service-prices-heading {
  margin-left: 0px;
}

/* line 249, ../sass/style.scss */
.breadcrumbs {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  font-style: italic;
}
/* line 255, ../sass/style.scss */
.breadcrumbs li {
  display: inline-block;
}
/* line 259, ../sass/style.scss */
.breadcrumbs li:after {
  content: ' / ';
  color: #6eb7ed;
  display: 'inline-block';
}
/* line 265, ../sass/style.scss */
.breadcrumbs li:last-child:after {
  content: '';
}
/* line 269, ../sass/style.scss */
.breadcrumbs a {
  color: #6eb7ed;
  border-color: #377fb7;
}
/* line 274, ../sass/style.scss */
.breadcrumbs a:hover {
  color: #f28f16;
  border-color: #796b4b;
}

/* line 280, ../sass/style.scss */
.plax-container {
  position: absolute;
  top: -96px;
  left: 0;
}
/* line 285, ../sass/style.scss */
.plax-container img {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 293, ../sass/style.scss */
.redactor ul {
  margin-left: 20px;
  margin-bottom: 16px;
}
/* line 297, ../sass/style.scss */
.redactor ul li {
  position: relative;
}
/* line 300, ../sass/style.scss */
.redactor ul li:before {
  content: '';
  display: block;
  position: absolute;
  background: url('../images/li-decor.png?1371645665') no-repeat;
  width: 14px;
  height: 5px;
  top: 10px;
  left: -20px;
}
/* line 309, ../sass/style.scss */
.redactor ul li a {
  border-style: dotted;
}
/* line 315, ../sass/style.scss */
.redactor table {
  margin-top: 8px;
  margin-bottom: 8px;
}
/* line 319, ../sass/style.scss */
.redactor table td {
  width: 110px;
}
/* line 324, ../sass/style.scss */
.redactor blockquote {
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
}
/* line 330, ../sass/style.scss */
.redactor h3 {
  position: relative;
  left: -4px;
  line-height: 24px;
}
/* line 335, ../sass/style.scss */
.redactor h3:before {
  content: '';
  display: inline-block;
  background: url('../images/small-decor-left.png?1369815838') no-repeat;
  width: 15px;
  height: 11px;
  margin-right: 5px;
}
/* line 343, ../sass/style.scss */
.redactor h4 {
  font-size: 12px;
  font-weight: normal;
  line-height: 24px;
  margin-top: 15px;
}

/* line 352, ../sass/style.scss */
.with-shadow,
.redactor img {
  border: 1px solid #072034;
  -moz-box-shadow: 0px 0px 8px 2px #0c3556;
  -webkit-box-shadow: 0px 0px 8px 2px #0c3556;
  box-shadow: 0px 0px 8px 2px #0c3556;
}

/* line 359, ../sass/style.scss */
.stick {
  position: fixed;
  top: 20px;
}

/* line 366, ../sass/style.scss */
.sub-menu .menu li.current,
.sub-menu .menu li:hover {
  background: #03658c;
  margin-top: -5px;
  padding-top: 5px;
  margin-left: -10px;
  padding-left: 10px;
  margin-right: 40px;
  padding-right: 10px;
  margin-bottom: -5px;
  padding-bottom: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 378, ../sass/style.scss */
.sub-menu .menu li.current a,
.sub-menu .menu li:hover a {
  border: none;
  color: white;
}

/* line 385, ../sass/style.scss */
.top-wave-bg {
  display: none;
  background: url('../images/wave-top.png?1369815838') repeat-x;
  height: 12px;
  position: relative;
  top: -12px;
}
/* line 392, ../sass/style.scss */
.waved .top-wave-bg {
  display: block;
}

/* line 397, ../sass/style.scss */
.bottom-wave-bg {
  background: url('../images/wave-bottom.png?1369815838') repeat-x;
  height: 12px;
  position: relative;
  top: 12px;
}

/* line 405, ../sass/style.scss */
.menu.horizontal li {
  display: inline-block;
}

/* line 410, ../sass/style.scss */
.main-text-column {
  width: 560px;
  float: left;
  margin-right: 0px;
  padding-right: 80px;
}

/* line 415, ../sass/style.scss */
div.main-text-column + div.mega-heading {
  margin-top: 48px;
}

/* line 419, ../sass/style.scss */
.column-4.special {
  background: #015385;
  margin-top: -7px;
  padding-top: 7px;
  margin-left: -23px;
  padding-left: 23px;
  margin-right: -6px;
  padding-right: 6px;
  margin-bottom: -12px;
  padding-bottom: 12px;
}
/* line 426, ../sass/style.scss */
.column-4.special .content {
  margin-top: -7px;
  padding-top: 7px;
  margin-left: -23px;
  padding-left: 23px;
  margin-right: -6px;
  padding-right: 6px;
  margin-bottom: -12px;
  padding-bottom: 12px;
}
/* line 433, ../sass/style.scss */
.column-4.special .corner {
  margin-top: -7px;
  padding-top: 7px;
  margin-left: -23px;
  padding-left: 23px;
}
/* line 438, ../sass/style.scss */
.column-4.special .head {
  margin-top: -7px;
  padding-top: 7px;
  margin-left: -23px;
  padding-left: 23px;
  margin-right: -6px;
  padding-right: 6px;
}
/* line 444, ../sass/style.scss */
.column-4.special .text {
  margin-right: 12px;
}
/* line 448, ../sass/style.scss */
.column-4.special .btn {
  margin-left: -5px;
}
/* line 452, ../sass/style.scss */
.column-4.special p {
  margin-bottom: 12px;
}
/* line 456, ../sass/style.scss */
.column-4.special p:first-child {
  margin-top: 12px;
}
/* line 460, ../sass/style.scss */
.column-4.special .hr {
  height: 1px;
  background: #004780;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 10px;
  margin-left: -7px;
  padding-left: 7px;
}
/* line 469, ../sass/style.scss */
.column-4.special a {
  font-style: italic;
}
/* line 473, ../sass/style.scss */
.column-4.special h3 {
  margin-bottom: 12px;
}

/* line 478, ../sass/style.scss */
.sub-menu .menu {
  margin-left: 160px;
  margin-bottom: 36px;
}
/* line 482, ../sass/style.scss */
.sub-menu .menu li {
  margin-right: 50px;
  font-family: Archive;
  font-size: 18px;
}

/* line 489, ../sass/style.scss */
.mega {
  color: #6393a6;
  font-size: 404px;
  line-height: 404px;
  text-align: center;
}

/* line 497, ../sass/style.scss */
.link-with-round-image p {
  font-size: 14px;
  line-height: 18px;
  color: #6393a6;
}

/* line 504, ../sass/style.scss */
.img-box {
  position: relative;
}
/* line 507, ../sass/style.scss */
.img-box .decor {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 514, ../sass/style.scss */
.img-preloader {
  position: absolute;
  overflow: hidden;
  left: -9999px;
  top: -9999px;
  height: 1px;
  width: 1px;
}

/* line 523, ../sass/style.scss */
h3.with-right-decor {
  position: relative;
  left: -4px;
}
/* line 527, ../sass/style.scss */
h3.with-right-decor:before {
  content: '';
  display: inline-block;
  background: url('../images/small-decor-left.png?1369815838') no-repeat;
  width: 15px;
  height: 11px;
  margin-right: 5px;
}

/* line 535, ../sass/style.scss */
.page {
  margin-bottom: 48px;
}

/* line 539, ../sass/style.scss */
.corner {
  float: left;
  background: url('../images/corner.png?1369815837') no-repeat;
  width: 16px;
  height: 16px;
}

/* line 545, ../sass/style.scss */
.special .head,
.townhouses .head {
  height: 15px;
  border-top: 1px solid #366f9d;
  border-right: 1px solid #366f9d;
}

/* line 552, ../sass/style.scss */
.special .content,
.townhouses .content {
  border-left: 1px solid #366f9d;
  border-right: 1px solid #366f9d;
  border-bottom: 1px solid #366f9d;
}

/* line 558, ../sass/style.scss */
.img-link {
  display: inline-block;
  border-bottom: none !important;
}

/* line 563, ../sass/style.scss */
.pagination {
  margin-left: 10px;
}
/* line 566, ../sass/style.scss */
.pagination li {
  display: inline-block;
  margin-right: 20px;
}
/* line 570, ../sass/style.scss */
.pagination li.current .wrap {
  margin-left: -10px;
  padding-left: 10px;
  margin-right: -10px;
  padding-right: 10px;
  margin-top: -7px;
  padding-top: 7px;
  margin-bottom: -7px;
  padding-bottom: 7px;
  background: #071f4e;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
/* line 576, ../sass/style.scss */
.pagination li.current .wrap a {
  border-bottom: none;
}
/* line 579, ../sass/style.scss */
.pagination li.current .wrap a:before, .pagination li.current .wrap a:after {
  content: '';
  display: inline-block;
}
/* line 584, ../sass/style.scss */
.pagination li.current .wrap a:before {
  background: url('../images/small-decor-left.png?1369815838') no-repeat;
  width: 15px;
  height: 11px;
  margin-right: 5px;
}
/* line 589, ../sass/style.scss */
.pagination li.current .wrap a:after {
  background: url('../images/small-decor-right.png?1369815838') no-repeat;
  width: 15px;
  height: 11px;
  margin-left: 5px;
}
/* line 594, ../sass/style.scss */
.pagination li.current .wrap a:hover {
  color: white;
  cursor: default;
}

/* line 608, ../sass/style.scss */
.header .menu li.current,
.header .menu li:hover {
  background: url('../images/menu-current.png?1369815838');
  background-size: 100% 100%;
  margin-left: -5px;
  padding-left: 5px;
  margin-right: 23px;
  padding-right: 5px;
  margin-bottom: -5px;
  padding-bottom: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 619, ../sass/style.scss */
.header .menu li.current a,
.header .menu li:hover a {
  color: #563103;
  border: none;
}
/* line 625, ../sass/style.scss */
.header .special-link {
  position: relative;
}
/* line 630, ../sass/style.scss */
.header .menu li.special-link.current,
.header .menu li.special-link:hover {
  background: none;
}

/* line 635, ../sass/style.scss */
.rays {
  position: absolute;
  background: url('../images/rays.png?1369815838') no-repeat;
  width: 685px;
  height: 492px;
  top: -40px;
  left: -235px;
  z-index: -1;
}

/* line 642, ../sass/style.scss */
.header {
  position: relative;
  height: 168px;
  padding-top: 24px;
  margin-bottom: 24px;
}

/* line 649, ../sass/style.scss */
.header-top {
  margin-top: 20px;
}

/* line 653, ../sass/style.scss */
.main-logo {
  width: 120px;
  float: left;
  margin-right: 0px;
}

/* line 657, ../sass/style.scss */
.header-top, .header-bottom {
  width: 800px;
  float: left;
  margin-right: 0px;
  margin-left: 40px;
}

/* line 662, ../sass/style.scss */
.main-heading {
  width: 720px;
  float: left;
  margin-right: 0px;
}

/* line 666, ../sass/style.scss */
.contacts-link {
  width: 80px;
  float: left;
  margin-right: 0px;
  font-size: 14px;
  line-height: 16px;
}

/* line 672, ../sass/style.scss */
.header-bottom {
  margin-top: 24px;
  position: relative;
}

/* line 677, ../sass/style.scss */
.header-bottom .menu {
  height: 36px;
  line-height: 36px;
}
/* line 681, ../sass/style.scss */
.header-bottom .menu img {
  vertical-align: middle;
}
/* line 685, ../sass/style.scss */
.header-bottom .menu li {
  margin-right: 28px;
  font-family: Archive;
  font-size: 18px;
}

/* line 692, ../sass/style.scss */
.special-offers-link {
  position: relative;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
/* line 696, ../sass/style.scss */
.special-offers-link a {
  border: none;
}
/* line 700, ../sass/style.scss */
.special-offers-link .hint {
  position: absolute;
  top: 50px;
  left: -110px;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  line-height: 16px;
  color: #69addc;
}
/* line 710, ../sass/style.scss */
.special-offers-link .hint:after {
  content: '';
  display: block;
  position: absolute;
  top: -12px;
  right: -35px;
  background: url('../images/special-offers-arrow.png?1369815838') no-repeat;
  width: 29px;
  height: 21px;
}

/* line 723, ../sass/style.scss */
.index-plax {
  position: relative;
  height: 696px;
  margin-bottom: 48px;
}

/* line 729, ../sass/style.scss */
.hotel-plax {
  position: relative;
  height: 360px;
  margin-bottom: 48px;
}

/* line 735, ../sass/style.scss */
.special-offers-slider {
  position: absolute;
  bottom: 0;
}
/* line 739, ../sass/style.scss */
.special-offers-slider .previous, .special-offers-slider .next {
  top: 30%;
}
/* line 743, ../sass/style.scss */
.special-offers-slider .previous {
  left: -30px;
}
/* line 747, ../sass/style.scss */
.special-offers-slider .next {
  right: -30px;
}
/* line 751, ../sass/style.scss */
.special-offers-slider h3 {
  color: #6393a6;
}
/* line 755, ../sass/style.scss */
.special-offers-slider .image-slider {
  position: relative;
  width: 125px;
  height: 125px;
}
/* line 761, ../sass/style.scss */
.special-offers-slider .text-slider {
  height: 50px;
}
/* line 764, ../sass/style.scss */
.special-offers-slider .text-slider li {
  display: none;
}
/* line 768, ../sass/style.scss */
.special-offers-slider .text-slider li.current {
  display: block;
}
/* line 772, ../sass/style.scss */
.special-offers-slider .text-slider a {
  font-weight: bold;
}

/* line 778, ../sass/style.scss */
.slider-container {
  height: 400px;
}

/* line 782, ../sass/style.scss */
.promo-slider, .season-slider {
  position: relative;
}
/* line 785, ../sass/style.scss */
.promo-slider a, .season-slider a {
  border: none;
}
/* line 789, ../sass/style.scss */
.promo-slider a:hover, .season-slider a:hover {
  color: white;
}
/* line 793, ../sass/style.scss */
.promo-slider .previous, .promo-slider .next, .season-slider .previous, .season-slider .next {
  top: 60px;
}
/* line 797, ../sass/style.scss */
.promo-slider .previous, .season-slider .previous {
  left: -30px;
}
/* line 801, ../sass/style.scss */
.promo-slider .next, .season-slider .next {
  right: -30px;
}
/* line 805, ../sass/style.scss */
.promo-slider li, .season-slider li {
  text-align: center;
}

/* line 811, ../sass/style.scss */
.promo-slider .previous, .promo-slider .next, .special-offers-slider .previous, .special-offers-slider .next, .season-slider .previous, .season-slider .next {
  position: absolute;
  cursor: pointer;
}
/* line 816, ../sass/style.scss */
.promo-slider .previous, .special-offers-slider .previous, .season-slider .previous {
  background: url('../images/slider-back-arrow.png?1383006619') no-repeat;
  width: 23px;
  height: 38px;
}
/* line 820, ../sass/style.scss */
.promo-slider .next, .special-offers-slider .next, .season-slider .next {
  background: url('../images/slider-next-arrow.png?1383006689') no-repeat;
  width: 23px;
  height: 38px;
}

/* line 825, ../sass/style.scss */
.promo-box {
  width: 320px;
  float: left;
  margin-right: 0px;
  position: relative;
}
/* line 829, ../sass/style.scss */
.promo-box .text {
  position: absolute;
  top: 0;
  left: 10px;
  max-width: 180px;
  background: #03658c;
  padding: 15px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  text-align: left;
  font-family: Archive;
  font-size: 18px;
  line-height: 24px;
}
/* line 842, ../sass/style.scss */
.promo-box .text .hint {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-size: 14px;
}
/* line 848, ../sass/style.scss */
.promo-box .all-promos-link {
  border: 2px dashed white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 40px;
  height: 95px;
  text-align: center;
}
/* line 858, ../sass/style.scss */
.promo-box .all-promos-link a {
  border-bottom: 1px solid #a3b3c6;
}
/* line 862, ../sass/style.scss */
.promo-box .all-promos-link a:hover {
  color: #f28f16;
  border-color: #796b4b;
}

/* line 870, ../sass/style.scss */
.promo-page.waved {
  background: #071f4e;
}
/* line 873, ../sass/style.scss */
.promo-page.waved .page {
  margin-bottom: 0;
}

/* line 879, ../sass/style.scss */
.image-link-box {
  margin-top: 60px;
}
/* line 882, ../sass/style.scss */
.image-link-box a:hover p {
  color: #f28f16;
}

/* line 887, ../sass/style.scss */
.map-labels {
  position: relative;
}
/* line 890, ../sass/style.scss */
.map-labels .label {
  position: absolute;
  display: inline-block;
  text-align: center;
}
/* line 895, ../sass/style.scss */
.map-labels .label p {
  background: #03658c;
  padding: 15px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  text-align: center;
  font-family: Archive;
  font-size: 14px;
  line-height: 18px;
  max-width: 140px;
}
/* line 906, ../sass/style.scss */
.map-labels .label img {
  position: relative;
  top: 15px;
}
/* line 912, ../sass/style.scss */
.map-labels .hotel-label {
  height: 55px;
  display: table;
  overflow: hidden;
}
/* line 917, ../sass/style.scss */
.map-labels .hotel-label .text-box {
  display: table-cell;
  vertical-align: middle;
}
/* line 922, ../sass/style.scss */
.map-labels .hotel-label img, .map-labels .hotel-label span {
  display: inline-block;
  vertical-align: top;
}
/* line 927, ../sass/style.scss */
.map-labels .hotel-label img {
  margin-top: -15px;
}
/* line 931, ../sass/style.scss */
.map-labels .hotel-label span {
  width: 180px;
  font-family: 'Archive';
  font-size: 18px;
  text-align: left;
}
/* line 937, ../sass/style.scss */
.map-labels .hotel-label span a {
  color: #6db7ed;
  border-color: #377fb7;
}
/* line 942, ../sass/style.scss */
.map-labels .hotel-label span a:hover {
  color: #f28f16;
  border-color: #796b4b;
}
/* line 947, ../sass/style.scss */
.map-labels .hotel-label span .small-hint {
  font-size: 14px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  color: #6db7ed;
}
/* line 954, ../sass/style.scss */
.map-labels .hotel-label.reversed span {
  text-align: right;
}
/* line 958, ../sass/style.scss */
.map-labels .hotel-label.diving {
  top: -17px;
  left: 187px;
}
/* line 963, ../sass/style.scss */
.map-labels .hotel-label.minigolf {
  top: 42px;
  left: 40px;
}
/* line 968, ../sass/style.scss */
.map-labels .hotel-label.stadio {
  top: 109px;
  left: 64px;
}
/* line 973, ../sass/style.scss */
.map-labels .hotel-label.rope_city {
  top: 178px;
  left: 23px;
}
/* line 978, ../sass/style.scss */
.map-labels .hotel-label.horse_riding {
  top: -17px;
  left: 669px;
}
/* line 983, ../sass/style.scss */
.map-labels .hotel-label.boats {
  top: 129px;
  left: 720px;
}
/* line 989, ../sass/style.scss */
.map-labels .horse_riding {
  right: 5px;
  top: -35px;
}
/* line 994, ../sass/style.scss */
.map-labels .skees {
  right: 400px;
  top: 0;
}
/* line 999, ../sass/style.scss */
.map-labels .sauna {
  right: 35px;
  top: 150px;
}
/* line 1004, ../sass/style.scss */
.map-labels .stadio {
  right: 35px;
  top: 150px;
}
/* line 1009, ../sass/style.scss */
.map-labels .quadro {
  right: 400px;
  top: 0;
}
/* line 1014, ../sass/style.scss */
.map-labels .minigolf {
  right: 400px;
  top: 0;
}
/* line 1019, ../sass/style.scss */
.map-labels .boats {
  right: 5px;
  top: -35px;
}
/* line 1024, ../sass/style.scss */
.map-labels .paintball {
  right: 35px;
  top: 150px;
}
/* line 1029, ../sass/style.scss */
.map-labels .diving {
  right: 400px;
  top: 0;
}
/* line 1034, ../sass/style.scss */
.map-labels .fishing {
  right: 5px;
  top: -35px;
}
/* line 1039, ../sass/style.scss */
.map-labels .animation {
  right: 5px;
  top: -35px;
}

/* line 1045, ../sass/style.scss */
.hotel-main {
  width: 640px;
  float: left;
  margin-right: 0px;
  margin-left: -32px;
  padding-right: 32px;
  margin-top: 48px;
}

/* line 1052, ../sass/style.scss */
.hotel-img, .hotel-text {
  display: inline-block;
  margin-bottom: 24px;
}

/* line 1057, ../sass/style.scss */
.hotel-text {
  width: 440px;
  vertical-align: top;
  margin-top: 24px;
}
/* line 1062, ../sass/style.scss */
.hotel-text h4 {
  margin-bottom: 6px;
}

/* line 1067, ../sass/style.scss */
.townhouses {
  background: #015385;
  margin-left: 6px;
  margin-right: 9px;
  margin-top: 48px;
}
/* line 1073, ../sass/style.scss */
.townhouses .content {
  padding-bottom: 24px;
  padding-top: 16px;
}

/* line 1079, ../sass/style.scss */
.townhouse-box {
  margin-left: 24px;
  margin-bottom: 24px;
}

/* line 1084, ../sass/style.scss */
.townhouse-img, .townhouse-text {
  display: inline-block;
  vertical-align: top;
}

/* line 1089, ../sass/style.scss */
.townhouse-img {
  width: 145px;
}

/* line 1093, ../sass/style.scss */
.townhouse-text {
  width: 110px;
}
/* line 1096, ../sass/style.scss */
.townhouse-text ul li {
  font-style: italic;
  color: #6393a6;
}
/* line 1101, ../sass/style.scss */
.townhouse-text a h4 {
  display: inline;
}

/* line 1106, ../sass/style.scss */
.super-slider {
  margin-top: 24px;
}
/* line 1109, ../sass/style.scss */
.super-slider .left-menu li a {
  color: #f28f16;
  border-bottom: 1px dotted #f28f16;
  line-height: 24px;
}
/* line 1115, ../sass/style.scss */
.super-slider .left-menu li {
  margin-bottom: 12px;
}
/* line 1119, ../sass/style.scss */
.super-slider .left-menu li.current a {
  color: white;
  border: none;
  cursor: default;
  position: relative;
}
/* line 1125, ../sass/style.scss */
.super-slider .left-menu li.current a:before, .super-slider .left-menu li.current a:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
}
/* line 1132, ../sass/style.scss */
.super-slider .left-menu li.current a:before {
  background: url('../images/small-decor-left.png?1369815838') no-repeat;
  width: 15px;
  height: 11px;
  left: -25px;
}
/* line 1137, ../sass/style.scss */
.super-slider .left-menu li.current a:after {
  background: url('../images/small-decor-right.png?1369815838') no-repeat;
  width: 15px;
  height: 11px;
  right: -25px;
}
/* line 1143, ../sass/style.scss */
.super-slider .rest-slider-link:before, .super-slider .rest-slider-link:after {
  top: 29px !important;
}
/* line 1147, ../sass/style.scss */
.super-slider .image-slider {
  position: relative;
  width: 600px;
}
/* line 1151, ../sass/style.scss */
.super-slider .image-slider .previous, .super-slider .image-slider .next {
  position: absolute;
  top: 170px;
  width: 65px;
  height: 65px;
  cursor: pointer;
  background: url('../images/slider-buttons.png?1369815838');
  z-index: 99;
}
/* line 1160, ../sass/style.scss */
.super-slider .image-slider .previous.inactive, .super-slider .image-slider .next.inactive {
  cursor: default;
}
/* line 1165, ../sass/style.scss */
.super-slider .image-slider .previous {
  background-position: 0 0;
  left: -40px;
}
/* line 1169, ../sass/style.scss */
.super-slider .image-slider .previous.inactive {
  background-position: 0 -88px;
}
/* line 1174, ../sass/style.scss */
.super-slider .image-slider .next {
  background-position: -88px 0;
  right: -25px;
}
/* line 1178, ../sass/style.scss */
.super-slider .image-slider .next.inactive {
  background-position: -88px -88px;
}
/* line 1184, ../sass/style.scss */
.super-slider .previews-container {
  width: 665px;
  margin-right: -60px;
  margin-left: -5px;
  margin-bottom: 36px;
}
/* line 1191, ../sass/style.scss */
.super-slider .previews {
  margin-top: 24px;
  display: none;
}
/* line 1195, ../sass/style.scss */
.super-slider .previews.current {
  display: block;
}
/* line 1199, ../sass/style.scss */
.super-slider .previews li {
  vertical-align: top;
  width: 100px;
  margin-right: 4px;
  margin-bottom: 10px;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
}
/* line 1208, ../sass/style.scss */
.super-slider .previews li a {
  color: #6393a6;
}
/* line 1212, ../sass/style.scss */
.super-slider .previews li a:hover {
  color: #f28f16;
}
/* line 1216, ../sass/style.scss */
.super-slider .previews li .hint {
  margin-left: 10px;
}
/* line 1221, ../sass/style.scss */
.super-slider .previews .current-decor {
  display: none;
}
/* line 1226, ../sass/style.scss */
.super-slider .previews li.current .not-current-decor {
  display: none;
}
/* line 1230, ../sass/style.scss */
.super-slider .previews li.current .current-decor {
  display: inline;
}
/* line 1234, ../sass/style.scss */
.super-slider .previews li.current a:hover {
  color: #6393a6;
  cursor: default;
}

/* line 1243, ../sass/style.scss */
.room-description-container .room-description {
  display: none;
  margin-right: -15px;
  line-height: 24px;
}
/* line 1249, ../sass/style.scss */
.room-description-container .room-description.current {
  display: block;
}

/* line 1254, ../sass/style.scss */
.panorama-container {
  display: none;
}
/* line 1257, ../sass/style.scss */
.panorama-container.current {
  display: block;
}
/* line 1261, ../sass/style.scss */
.panorama-container .panorama-box {
  text-align: right;
  width: 1000px;
  margin-left: -160px;
}
/* line 1267, ../sass/style.scss */
.panorama-container .panorama-switcher {
  margin-left: -40px;
  padding-top: 96px;
}
/* line 1271, ../sass/style.scss */
.panorama-container .panorama-switcher .panorama-menu {
  padding-left: 24px;
}
/* line 1274, ../sass/style.scss */
.panorama-container .panorama-switcher .panorama-menu .panorama-title {
  position: relative;
  margin-bottom: 24px;
}
/* line 1279, ../sass/style.scss */
.panorama-container .panorama-switcher .panorama-menu .panorama-arrow {
  position: absolute;
  background: url('../images/panorama-arrow.png?1371644851') no-repeat;
  width: 44px;
  height: 40px;
  top: -28px;
  left: -24px;
}
/* line 1287, ../sass/style.scss */
.panorama-container .panorama-switcher .panorama-menu ul li {
  margin-bottom: 12px;
  position: relative;
}
/* line 1291, ../sass/style.scss */
.panorama-container .panorama-switcher .panorama-menu ul li .before {
  position: absolute;
  background: url('../images/li-decor.png?1371645665') no-repeat;
  width: 14px;
  height: 5px;
  top: 10px;
  left: -20px;
}
/* line 1298, ../sass/style.scss */
.panorama-container .panorama-switcher .panorama-menu ul li a {
  border-style: dotted;
}

/* line 1307, ../sass/style.scss */
.contacts-box {
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;
}
/* line 1312, ../sass/style.scss */
.contacts-box .column-4 {
  padding-top: 24px;
}

/* line 1317, ../sass/style.scss */
#resort_map {
  position: absolute;
  top: -100px;
}

/* line 1322, ../sass/style.scss */
#office_map {
  position: absolute;
  top: -30px;
}

/* line 1327, ../sass/style.scss */
.service-page-cont {
  margin-top: 72px;
}
/* line 1330, ../sass/style.scss */
.service-page-cont .img-column {
  text-align: center;
}

/* line 1335, ../sass/style.scss */
.season-table {
  margin-left: 120px;
  margin-top: 24px;
}
/* line 1340, ../sass/style.scss */
.season-table thead tr {
  height: 120px;
}
/* line 1344, ../sass/style.scss */
.season-table thead td {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}
/* line 1350, ../sass/style.scss */
.season-table thead .price-type-desc {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}
/* line 1358, ../sass/style.scss */
.season-table tbody td {
  padding: 3px 0px 4px 0px;
}
/* line 1362, ../sass/style.scss */
.season-table tbody tr.row:hover {
  background: #03658c;
  margin-left: -40px;
}
/* line 1366, ../sass/style.scss */
.season-table tbody tr.row:hover .row-title, .season-table tbody tr.row:hover .row-last {
  position: relative;
}
/* line 1370, ../sass/style.scss */
.season-table tbody tr.row:hover .before, .season-table tbody tr.row:hover .after {
  position: absolute;
  top: 10px;
}
/* line 1375, ../sass/style.scss */
.season-table tbody tr.row:hover .before {
  background: url('../images/small-decor-left.png?1369815838') no-repeat;
  width: 15px;
  height: 11px;
  left: 10px;
}
/* line 1380, ../sass/style.scss */
.season-table tbody tr.row:hover .after {
  background: url('../images/small-decor-right.png?1369815838') no-repeat;
  width: 15px;
  height: 11px;
  right: 30px;
}
/* line 1387, ../sass/style.scss */
.season-table td {
  vertical-align: top;
  width: 140px;
  padding-right: 20px;
}
/* line 1393, ../sass/style.scss */
.season-table td:first-child {
  width: 240px;
  padding-left: 40px;
}
/* line 1398, ../sass/style.scss */
.season-table .room-config-title {
  height: 48px;
  line-height: 48px;
  vertical-align: baseline;
}
/* line 1404, ../sass/style.scss */
.season-table tr.separator {
  height: 72px;
}
/* line 1408, ../sass/style.scss */
.season-table .price-box {
  text-align: right;
  width: 140px;
  margin-left: -91px;
}
/* line 1414, ../sass/style.scss */
.season-table .room-config-title td {
  position: relative;
}
/* line 1417, ../sass/style.scss */
.season-table .room-config-title td .hotels-images {
  position: absolute;
  top: 0px;
  left: -160px;
}

/* line 1425, ../sass/style.scss */
.center-text {
  margin-left: 160px;
  padding-right: 40px;
}

/* line 1430, ../sass/style.scss */
.service-page {
  width: 1000px;
  margin-left: -40px;
}

/* line 1435, ../sass/style.scss */
.service-box {
  display: inline-block;
  width: 440px;
  margin-left: 40px;
  margin-top: 48px;
}
/* line 1441, ../sass/style.scss */
.service-box:hover {
  margin-top: 36px;
  padding-top: 7px;
  margin-right: -29px;
  padding-right: 24px;
  margin-bottom: -12px;
  padding-bottom: 7px;
  margin-left: 35px;
  border: 5px solid #03598e;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}
/* line 1454, ../sass/style.scss */
.service-box .service-image,
.service-box .service-text {
  display: inline-block;
  vertical-align: top;
}
/* line 1459, ../sass/style.scss */
.service-box .service-text {
  width: 320px;
}
/* line 1462, ../sass/style.scss */
.service-box .service-text a {
  border-bottom: none;
}
/* line 1466, ../sass/style.scss */
.service-box .service-text h3 {
  margin-top: 4px;
}
/* line 1469, ../sass/style.scss */
.service-box .service-text h3 a {
  border-bottom: 1px #a3b3c6 solid;
}
/* line 1473, ../sass/style.scss */
.service-box .service-text h3 a:hover {
  color: #f28f16;
  border-color: #796b4b;
}
/* line 1479, ../sass/style.scss */
.service-box .service-text p {
  margin-top: 12px;
}
/* line 1484, ../sass/style.scss */
.service-box .service-image {
  width: 120px;
  text-align: center;
  margin-right: -5px;
}

/* line 1491, ../sass/style.scss */
.press-item {
  margin-bottom: 48px;
}
/* line 1494, ../sass/style.scss */
.press-item .press_type {
  margin-bottom: 10px;
}
/* line 1497, ../sass/style.scss */
.press-item .press_type span {
  background: #f28f16;
  padding: 6px 10px 6px 10px;
}
/* line 1504, ../sass/style.scss */
.press-item .press-title .title h2 {
  display: inline-block;
  margin-right: 7px;
}
/* line 1510, ../sass/style.scss */
.press-item .press-short-text {
  margin-top: 13px;
}
/* line 1514, ../sass/style.scss */
.press-item .photoreport-previews {
  margin-top: 24px;
}
/* line 1517, ../sass/style.scss */
.press-item .photoreport-previews .photo-preview {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
/* line 1522, ../sass/style.scss */
.press-item .photoreport-previews .photo-preview img {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}

/* line 1529, ../sass/style.scss */
.press-menu {
  background: #03658c;
  margin-left: -22px;
  margin-right: 22px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 8px;
}
/* line 1536, ../sass/style.scss */
.press-menu li span {
  font-family: 'Archive';
  font-size: 14px;
  display: inline-block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 7px 10px;
}
/* line 1545, ../sass/style.scss */
.press-menu li.current span {
  background: #3095c1;
}
/* line 1548, ../sass/style.scss */
.press-menu li.current span a {
  border: none;
  cursor: default;
  color: white;
}

/* line 1557, ../sass/style.scss */
.restraunts-about .column-4.special {
  margin-top: -24px;
}

/* line 1562, ../sass/style.scss */
.panorama-hint {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  margin-top: 15px;
  padding-left: 24px;
}

/* line 1570, ../sass/style.scss */
.specials-menu {
  position: absolute;
  display: none;
  top: -5px;
  left: 603px;
  width: 172px;
  z-index: 2;
}
/* line 1578, ../sass/style.scss */
.specials-menu .before {
  background: url('../images/specials-top.png?1371231375') no-repeat;
  width: 172px;
  height: 59px;
}
/* line 1582, ../sass/style.scss */
.specials-menu .knob {
  background: url('../images/specials-knob.png?1371230996') no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 14px;
  left: 131px;
  cursor: pointer;
}
/* line 1590, ../sass/style.scss */
.specials-menu .after {
  background: url('../images/specials-bottom.png?1371229884') no-repeat;
  width: 172px;
  height: 22px;
}
/* line 1594, ../sass/style.scss */
.specials-menu .content {
  background: url('../images/specials-middle.png?1371229758');
  padding-left: 10px;
  padding-right: 20px;
}
/* line 1599, ../sass/style.scss */
.specials-menu .content ul {
  text-align: right;
  font-weight: bold;
}
/* line 1603, ../sass/style.scss */
.specials-menu .content ul li {
  margin-top: 10px;
}
/* line 1606, ../sass/style.scss */
.specials-menu .content ul li:first-child {
  margin-top: 0px;
}
/* line 1611, ../sass/style.scss */
.specials-menu .content ul a {
  color: #014780;
}
/* line 1615, ../sass/style.scss */
.specials-menu .content ul a:hover {
  color: #f28f16;
  border-color: #f8c78a;
}

/* line 1624, ../sass/style.scss */
.services-prices .img-column, .services-prices .text-column {
  display: inline-block;
  margin-right: -5px;
  float: none;
  vertical-align: top;
}

/* line 1632, ../sass/style.scss */
.service-prices-item {
  margin-bottom: 48px;
}
/* line 1635, ../sass/style.scss */
.service-prices-item .mega-heading {
  margin-top: 38px;
}
/* line 1639, ../sass/style.scss */
.service-prices-item table {
  margin-top: 24px;
}
/* line 1642, ../sass/style.scss */
.service-prices-item table thead {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}
/* line 1647, ../sass/style.scss */
.service-prices-item table thead .hint {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}
/* line 1653, ../sass/style.scss */
.service-prices-item table thead td {
  vertical-align: top;
  height: 62px;
}
/* line 1660, ../sass/style.scss */
.service-prices-item table tbody td {
  height: 34px;
}
/* line 1665, ../sass/style.scss */
.service-prices-item table td.title {
  width: 440px;
}
/* line 1669, ../sass/style.scss */
.service-prices-item table td.time {
  width: 80px;
}
/* line 1673, ../sass/style.scss */
.service-prices-item table td.price {
  width: 80px;
}

/* line 1679, ../sass/style.scss */
.hotels-previews {
  margin-bottom: 12px;
}

/* line 1683, ../sass/style.scss */
.img-shadow {
  display: inline-block;
}

/* line 1687, ../sass/style.scss */
.btn {
  height: 48px;
  background: url('../images/btn.png?1372586333');
  padding-left: 15px;
  position: relative;
  color: #004780;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
/* line 1697, ../sass/style.scss */
.btn span {
  position: relative;
  top: -6px;
}
/* line 1702, ../sass/style.scss */
.btn:after {
  content: '';
  display: block;
  position: absolute;
  background: url('../images/btn.png?1372586333');
  height: 48px;
  width: 15px;
  background-position: 15px;
  top: 0px;
  right: -15px;
}

/* line 1715, ../sass/style.scss */
a.btn {
  display: inline-block;
  border-bottom: none;
  color: #004780 !important;
  font-size: 16px !important;
  font-weight: bold !important;
  font-style: normal !important;
}
/* line 1723, ../sass/style.scss */
a.btn:hover {
  color: #004780 !important;
}
/* line 1727, ../sass/style.scss */
a.btn span {
  top: 6px;
}

/* line 1733, ../sass/style.scss */
.input.with-errors,
.textarea.with-errors {
  border-color: #993333 !important;
}

/* line 1737, ../sass/style.scss */
.order-form {
  margin-top: 120px;
}
/* line 1740, ../sass/style.scss */
.order-form label {
  font-family: 'Archive';
  font-size: 14px;
  line-height: 18px;
  width: 120px;
  color: #6393a6;
}
/* line 1748, ../sass/style.scss */
.order-form .form-room-config {
  text-align: justify;
  height: 144px;
}
/* line 1752, ../sass/style.scss */
.order-form .form-room-config:after {
  content: '';
  width: 100%;
  display: inline-block;
}
/* line 1760, ../sass/style.scss */
.order-form .form-rooms .rooms-menu {
  display: none;
}
/* line 1763, ../sass/style.scss */
.order-form .form-rooms .rooms-menu.current {
  display: block;
}
/* line 1769, ../sass/style.scss */
.order-form .hotel-item {
  display: inline-block;
  vertical-align: top;
}
/* line 1773, ../sass/style.scss */
.order-form .hotel-item.current {
  background: #03658c;
  margin: -20px;
  padding: 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
/* line 1779, ../sass/style.scss */
.order-form .hotel-item.current .room-config-link {
  border-bottom: none;
}
/* line 1782, ../sass/style.scss */
.order-form .hotel-item.current .room-config-link:hover {
  color: white;
  cursor: default;
}
/* line 1789, ../sass/style.scss */
.order-form .hotel-item .hotel-previews {
  height: 72px;
}
/* line 1793, ../sass/style.scss */
.order-form .hotel-item .hotels-hint {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Archive';
  color: #81bdee;
  border: none;
}
/* line 1801, ../sass/style.scss */
.order-form .hotel-item .room-config-link {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Archive';
  border-style: dotted;
}
/* line 1809, ../sass/style.scss */
.order-form .season-slider {
  margin-left: -20px;
  margin-right: -20px;
}
/* line 1813, ../sass/style.scss */
.order-form .season-slider .previous {
  left: -40px;
}
/* line 1818, ../sass/style.scss */
.order-form .season-column {
  margin-top: 96px;
}
/* line 1821, ../sass/style.scss */
.order-form .season-column label {
  display: block;
  margin-top: 24px;
}
/* line 1827, ../sass/style.scss */
.order-form .season-item {
  padding: 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  text-align: left;
  display: inline-block;
  margin-right: 20px;
}
/* line 1834, ../sass/style.scss */
.order-form .season-item .season-link {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Archive';
  border-bottom: 1px dotted #a3b3c6;
}
/* line 1840, ../sass/style.scss */
.order-form .season-item .season-link:hover {
  color: #f28f16;
  border-color: #796b4b;
}
/* line 1846, ../sass/style.scss */
.order-form .season-item .special-offer-label {
  margin-top: 6px;
}
/* line 1849, ../sass/style.scss */
.order-form .season-item .special-offer-label span {
  display: inline-block;
  background: #f28f16;
  padding: 4px 10px;
}
/* line 1857, ../sass/style.scss */
.order-form .current .season-item {
  background: #03658c;
  padding: 20px;
}
/* line 1861, ../sass/style.scss */
.order-form .current .season-item .season-link {
  border-bottom: none;
}
/* line 1864, ../sass/style.scss */
.order-form .current .season-item .season-link:hover {
  color: white;
  cursor: default;
}

/* line 1872, ../sass/style.scss */
.inputs {
  margin-top: 66px;
}
/* line 1875, ../sass/style.scss */
.inputs .input-row {
  height: 40px;
  margin-top: 34px;
}
/* line 1880, ../sass/style.scss */
.inputs .phone-lead {
  display: inline-block;
  width: 35px;
}
/* line 1885, ../sass/style.scss */
.inputs .input {
  width: 304px;
  background: #fdfdfd;
  height: 32px;
  border: 4px solid #03658c;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 0px 4px;
  font-size: 18px;
}
/* line 1894, ../sass/style.scss */
.inputs .input.input-phone {
  width: 268px;
}
/* line 1898, ../sass/style.scss */
.inputs .input:focus {
  outline: none;
}
/* line 1903, ../sass/style.scss */
.inputs .input-hint {
  color: #6393a6;
  font-size: 14px;
  font-style: italic;
}

/* line 1911, ../sass/style.scss */
.review-form .inputs {
  margin-top: 0px;
}
/* line 1914, ../sass/style.scss */
.review-form .inputs .input-row {
  height: 48px;
}
/* line 1918, ../sass/style.scss */
.review-form .inputs .input {
  width: 222px;
  background: #fdfdfd;
  height: 32px;
  border: 1px solid #aaaaaa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 0px 4px;
  font-size: 18px;
}
/* line 1927, ../sass/style.scss */
.review-form .inputs .input.input-phone {
  width: 188px;
}
/* line 1931, ../sass/style.scss */
.review-form .inputs .input:focus {
  outline: none;
}
/* line 1936, ../sass/style.scss */
.review-form .inputs .input-hint {
  color: black;
  font-size: 14px;
  padding-left: 25px;
}
/* line 1942, ../sass/style.scss */
.review-form .inputs .input-box {
  width: 234px;
}
/* line 1946, ../sass/style.scss */
.review-form .inputs .textarea-row {
  margin-top: 41px;
}
/* line 1950, ../sass/style.scss */
.review-form .inputs .textarea {
  width: 440px;
  height: 160px;
  background: #fdfdfd;
  border: 1px solid #aaaaaa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 0px 4px;
  font-size: 18px;
  resize: none;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
/* line 1961, ../sass/style.scss */
.review-form .inputs .textarea:focus {
  outline: none;
}
/* line 1967, ../sass/style.scss */
.review-form .hint {
  font-size: 14px;
  font-weight: bold;
  margin-left: 15px;
  position: relative;
  top: -6px;
}
/* line 1975, ../sass/style.scss */
.review-form .form-controls {
  margin-top: 34px !important;
  margin-bottom: 24px !important;
}

/* line 1982, ../sass/style.scss */
.errors-box {
  position: relative;
}

/* line 1986, ../sass/style.scss */
.errors {
  position: absolute;
  top: 0px;
  left: 5px;
  color: red;
  font-size: 12px;
}

/* line 1994, ../sass/style.scss */
.form-controls {
  margin-top: 48px;
}
/* line 1997, ../sass/style.scss */
.form-controls .controls-hint {
  position: relative;
  top: -5px;
  margin-left: 10px;
}
/* line 2002, ../sass/style.scss */
.form-controls .controls-hint .controls-hint-phone {
  position: relative;
}
/* line 2006, ../sass/style.scss */
.form-controls .controls-hint .controls-hint-phone-hint {
  position: absolute;
  top: 22px;
  left: 0px;
  color: #6393a6;
  font-size: 14px;
  line-height: 18px;
  width: 110px;
}

/* line 2018, ../sass/style.scss */
.review-list-page {
  margin-top: 48px;
}

/* line 2022, ../sass/style.scss */
.review-list-sidebar {
  margin-top: 80px;
}

/* line 2026, ../sass/style.scss */
.review-row {
  margin-bottom: 40px;
}

/* line 2030, ../sass/style.scss */
.review-column-main {
  background: #03598e;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  position: relative;
  min-height: 96px;
}
/* line 2036, ../sass/style.scss */
.review-column-main:after {
  content: '';
  display: block;
  position: absolute;
  top: 23px;
  left: -13px;
  background: url('../images/review-triangle.png?1372926036') no-repeat;
  width: 13px;
  height: 46px;
}
/* line 2045, ../sass/style.scss */
.review-column-main .review {
  padding: 17px 15px;
}

/* line 2050, ../sass/style.scss */
.left-review-column {
  padding-top: 30px;
}
/* line 2053, ../sass/style.scss */
.left-review-column .review-date {
  font-size: 14px;
  font-style: italic;
  color: #6393a6;
}

/* line 2061, ../sass/style.scss */
.order-sidebar .text {
  color: #6393a6;
  margin-top: -10px;
}
/* line 2066, ../sass/style.scss */
.order-sidebar .btn {
  margin-left: -12px !important;
}

/* line 2072, ../sass/style.scss */
.order-link .hint {
  padding-left: 12px;
  color: #6393a6;
  position: relative;
  top: -4px;
}

/* line 2081, ../sass/style.scss */
.text-page p, .text-page img {
  margin-bottom: 8px;
}
/* line 2086, ../sass/style.scss */
.text-page h1, .text-page h2, .text-page h3, .text-page h4, .text-page h5 {
  margin-bottom: 12px;
}
/* line 2089, ../sass/style.scss */
* + .text-page h1, * + .text-page h2, * + .text-page h3, * + .text-page h4, * + .text-page h5 {
  margin-top: 15px;
}
/* line 2093, ../sass/style.scss */
p + .text-page h1, p + .text-page h2, p + .text-page h3, p + .text-page h4, p + .text-page h5 {
  margin-top: 30px;
}

/* line 2102, ../sass/style.scss */
.footer-inner {
  margin-top: 72px;
  height: 100px;
}
/* line 2106, ../sass/style.scss */
.footer.waved .footer-inner {
  background: #071f4e;
}

/* line 2111, ../sass/style.scss */
.footer .menu {
  height: 32px;
  line-height: 32px;
  margin-top: 10px;
}
/* line 2116, ../sass/style.scss */
.footer .menu img {
  vertical-align: middle;
}
/* line 2120, ../sass/style.scss */
.footer .menu li {
  font-family: Archive;
  font-size: 18px;
}
/* line 2125, ../sass/style.scss */
.footer .menu li:after {
  content: '';
  display: inline-block;
  background: url('../images/list-marker.png?1369815837') no-repeat;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  margin-right: 6px;
}
/* line 2133, ../sass/style.scss */
.footer .menu li:last-child:after {
  display: none;
}

/* line 2138, ../sass/style.scss */
.footer .copy {
  font-size: 14px;
  color: #5b7ab6;
  margin-top: 10px;
}
/* line 2143, ../sass/style.scss */
.footer .copy a {
  color: #5b7ab6;
  border-color: #5b7ab6;
}
/* line 2148, ../sass/style.scss */
.footer .copy li {
  display: inline-block;
}
/* line 2152, ../sass/style.scss */
.footer .copy li + li {
  margin-left: 40px;
}

/* line 2157, ../sass/style.scss */
.footer .contacts-link {
  width: 120px;
  float: left;
  margin-right: 0px;
  margin-top: 12px;
  position: relative;
  margin-left: 40px;
  margin-right: -40px;
}
/* line 2164, ../sass/style.scss */
.footer .contacts-link a {
  color: #838fa7;
  border-color: #838fa7;
}
/* line 2169, ../sass/style.scss */
.footer .contacts-link a:hover {
  color: #f28f16;
  border-color: #796b4b;
}

/* line 2177, ../sass/style.scss */
.vk-btn {
  vertical-align: middle;
  display: inline-block;
  background: url('../images/vk-btn.png?1379950106');
  height: 31px;
  width: 131px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

/* line 2188, ../sass/style.scss */
.full-map-top-heading {
  margin-bottom: 96px;
}

/* line 2193, ../sass/style.scss */
.full_map_text ol {
  counter-reset: li;
}
/* line 2196, ../sass/style.scss */
.full_map_text ol li {
  display: block !important;
  margin-bottom: 15px;
  padding-left: 40px;
}
/* line 2201, ../sass/style.scss */
.full_map_text ol li:before {
  content: counter(li) ".";
  counter-increment: li;
  display: inline-block;
  width: 40px;
  margin-left: -40px;
  text-align: center;
  color: #489adb;
  font-weight: bold;
}
/* line 2212, ../sass/style.scss */
.full_map_text ol li span {
  line-height: 24px !important;
  font-size: 16px !important;
}
/* line 2219, ../sass/style.scss */
.full_map_text .right-list ol {
  counter-reset: li 10;
}
/* line 2223, ../sass/style.scss */
.full_map_text p > span {
  display: inline-block;
  width: 40px;
  margin-left: -40px;
  text-align: center;
}

/* line 2231, ../sass/style.scss */
.full-map-link {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
