// settings
$legacy-support-for-ie6 : false;
$legacy-support-for-ie7 : false;
// /settings

// grid settings
$total-columns  : 24;
$column-width   : 40px;
$gutter-width   : 0px;
$grid-padding   : 32px;
$container-style: static;

$height-atom   : 24px;
// /grid settings

// colors
$white: #ffffff;
$black: #000000;
$blue: #004780;
$alt-blue: #69addc;
$light-blue: #03658c;
$alt-light-blue: #015385;
$alt2-light-blue: #3095c1;
$alt3-light-blue: #81bdee;
$light-gray-blue: #6393a6;
$dark-blue: #071f4e;
$orange: #f28f16;
$dark-orange: #f28f16;
// /colors

//fonts
$default-font-size: 16px;
$default-font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
@include bulletproof-font-face('Archive', archive-webfont, archiveregular);
@include bulletproof-font-face('PT Sans', PTS55F_W, PTSans-Regular);
// /fonts

// base-columns
@each $size in 2, 3, 4, 5, 6, 7, 8, 11, 14, 15, 16, 17, 18, 20, 24 {
    .column-#{$size} {
        @include span-columns($size);
    }
}
@each $size in 1, 2 {
    .post-#{$size} {
        @include post($size);
    }
}
@each $size in 1, 2, 3, 4, 8 {
    .pre-#{$size} {
        @include pre($size);
    }
}
@each $size in 1, 2 {
    .suffix-#{$size} {
        @include suffix($size);
    }
}

@each $size in 1, 2 {
    .prefix-#{$size} {
        @include prefix($size);
    }
}
// /base-columns