.bootstrapped {
    @import 'compass/reset';
    @import 'bootstrap';

    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;

    .middle-inline {
        margin: 0px; 

        li {
            vertical-align: middle;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        h2 {
            margin: 0px; 
        }
    }

    .h2-icon {
        margin-left: 10px;
        margin-top: 3px;
    }

    .prices-header {
        margin-left: 260px;
        position: relative;

        .before,
        .after {
            display: block;
            position: absolute;
            height: 47px;
            width: 47px;
            top: 10px;

            &.disabled {
                opacity: 0.6;
            }
        }

        .before {
            background: url('../img/previous.png');
            left: -70px;
        }

        .after {
            background: url('../img/next.png');
            right: -74px;
        }
    }

    .prices-head-line li {
        margin-right: 100px;
    }

    .season-table {
        border: none;
        table-layout: fixed;
        width: auto;
        float: left;

        td {
            border: none;
        }

        .hotel-title {
            width: 214px;
        }

        .price-type-desc {
            width: 120px;
            font-size: 11px;
            line-height: 14px;
            font-style: italic;
        }

        thead td {
            height: 100px;
        }
    }
}