@import "susy";

@import "compass/reset";
@import "compass/css3";

@import "mixins";
@import "base";
@import "test";


// reset
img { 
    margin-bottom: 0;
    padding-bottom: 0;
}

button {
    border: none;
    outline: none;
}
// /reset

// base styles
html {
    font-family: $default-font-family;
    font-size: 16px;
    line-height: 24px;
    color: $white;
}

a, a:visited {
    text-decoration: none;
    border-bottom: 1px #a3b3c6 solid;
    color: $white;
}

a:hover {
    color: $orange;
    border-color: #796b4b;
}

p {
    margin-bottom: 12px;
}

.header, .page, .footer-content {
    @include container;
}

.hidden {
    display: none;
}

@include my-sticky-footer(172px);

body {
    background: $blue;
}

b {
    font-weight: bold;
}

h1, h2, h3 {
    font-family: 'Archive';
}

h1 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 18px;
}

h2 {
    font-size: 24px;
    margin-top: 6px;
    margin-bottom: 18px;
}

h3 {
    font-size: 18px;
    margin-bottom: 12px;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

.cell-line {
    display: table;
    table-layout: fixed;

    & > div {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }
}

.ruble {
    font-family: 'PT Sans', serif;
}

.modal {
    padding: 40px;
    
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        background: #6393a6;
        height: 10px;
        @include border-top-left-radius(4px);
        @include border-top-right-radius(4px);
    }
}

.modal-close {
    @include background-image('modal-close.png');
    position: absolute;
    top: -33px;
    right: -33px;
    cursor: pointer;
}

.super-slider .image-slider .with-shadow img {
    margin-bottom: -6px;
}

.mega-heading {
    @include pre(4);
    margin-bottom: 24px;
    font-size: 32px;
    font-family: Archive;

    span {
        position: relative;
    }

    &.with-decor {
        & span:before, & span:after {
            content: '';
            display: block;
            position: absolute;
            top: 10px;
        }

        & span:before {
            @include background-image('heading-decor-left.png');
            left: -40px;
        }

        & span:after {
            @include background-image('heading-decor-right.png');
            right: -40px;
        }

        .bottom-decor {
            position: absolute;
            @include background-image('heading-decor-bottom.png');
            left: 50%;
            margin-left: -(image-width('heading-decor-bottom.png')/2);
            z-index: -1
        }
    }

    &.season-heading {
        position: relative;
        margin-top: 48px;
        display: inline-block;

        .before,
        .after {
            content: '';
            display: block;
            position: absolute;
        }

        .before {
            @include background-image('slider-back-arrow.png');
            top: 7px;
            left: -50px;

            &.inactive {
                opacity: 0.6;
            }
        }

        .after {
            @include background-image('slider-next-arrow.png');
            top: 7px;
            right: -50px;

            &.inactive {
                opacity: 0.6;
            }
        }

        .season,
        .special-offer-label {
            display: inline-block;
        }

        .special-offer-label {
            max-width: 120px;
            margin-left: 30px;
            vertical-align: top;

            .wrap {
                background: $orange;
                position: relative;
                padding: 5px 0;
            }

            .wrap-1 {
                left: -20px;
            }

            .wrap-2 {
                left: 20px;
            }

            .wrap-3 {
                left: -10px;
            }
        }

        .period,
        .special-offer-label {
            font-family: $default-font-family;
            font-size: 16px;
        }

        .period {
            margin-top: 8px;
        }
    }
}

.service-prices-heading {
    margin-left: 0px;
}

.breadcrumbs {
    font-family: $default-font-family;
    font-size: 16px;
    margin-bottom: 10px;
    font-style: italic;

    li {
        display: inline-block;
    }

    li:after {
        content: ' / ';
        color: #6eb7ed;
        display: 'inline-block';
    }

    li:last-child:after {
        content: '';
    }

    a {
        color: #6eb7ed;
        border-color: #377fb7;
    }

    a:hover {
        color: $orange;
        border-color: #796b4b;
    }
}

.plax-container {
    position: absolute;
    top: -(4*$height-atom);
    left: 0;

    img {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.redactor {
    ul {
        margin-left: 20px;
        margin-bottom: 16px;

        li {
            position: relative;

            &:before {
                content:'';
                display: block;
                position: absolute;
                @include background-image('li-decor.png');
                top: 10px;
                left: -20px;
            }

            a {
                border-style: dotted;
            }
        }
    }
    
    table {
        margin-top: 8px;
        margin-bottom: 8px;

        td {
            width: 110px;
        }
    }

    blockquote {
        font-size: 14px;
        font-style: italic;
        line-height: 18px;
    }

    h3 {
        position: relative;
        left: -4px;
        line-height: 24px;

        &:before {
            content: '';
            display: inline-block;
            @include background-image('small-decor-left.png');
            margin-right: 5px;
        }
    } 

    h4 {
        font-size: 12px;
        font-weight: normal;
        line-height: 24px;
        margin-top: 15px;
    } 
}

.with-shadow,
.redactor img {
    border: 1px solid #072034;
    -moz-box-shadow:0px 0px 8px 2px #0c3556;
    -webkit-box-shadow:0px 0px 8px 2px #0c3556;
    box-shadow:0px 0px 8px 2px #0c3556;
}

.stick {
    position:fixed;
    top: 20px;
}

.sub-menu {
    .menu li.current,
    .menu li:hover {
        background: $light-blue;
        margin-top: -5px;
        padding-top: 5px;
        margin-left: -10px;
        padding-left: 10px;
        margin-right: 40px;
        padding-right: 10px;
        margin-bottom: -5px;
        padding-bottom: 5px;
        @include border-radius(4px);

        a {
            border: none;
            color: $white;
        }
    }
}

.top-wave-bg {
    display: none;
    background: image-url('wave-top.png') repeat-x;
    height: 12px;
    position: relative;
    top: -12px;

    .waved & {
        display: block;
    }
}

.bottom-wave-bg {
    background: image-url('wave-bottom.png') repeat-x;
    height: 12px;
    position: relative;
    top: 12px;
}

.menu.horizontal {
    li {
        display: inline-block;
    }
}

.main-text-column {
    @include span-columns(14);
    @include suffix(2);
}

div.main-text-column + div.mega-heading {
    margin-top: 48px;
}

.column-4.special {
    background: $alt-light-blue;
    @include bleed(7px, top);
    @include bleed(23px, left);
    @include bleed(6px, right);
    @include bleed(12px, bottom);

    .content {
        @include bleed(7px, top);
        @include bleed(23px, left);
        @include bleed(6px, right);
        @include bleed(12px, bottom);
    }

    .corner {
        @include bleed(7px, top);
        @include bleed(23px, left);
    }

    .head {
        @include bleed(7px, top);
        @include bleed(23px, left);
        @include bleed(6px, right);
    }

    .text {
        margin-right: 12px;
    }

    .btn {
        margin-left: -5px;
    }

    p {
        margin-bottom: 12px;
    }

    p:first-child {
        margin-top: 12px;
    }

    .hr {
        height: 1px;
        background: $blue;
        margin-top: 24px;
        margin-bottom: 24px;
        margin-right: 10px;
        @include bleed(7px, left);
    }

    a {
        font-style: italic;
    }

    h3 {
        margin-bottom: 12px;
    }
}

.sub-menu .menu {
    @include pre(4);
    margin-bottom: 36px;

    li {
        margin-right: 50px;
        font-family: Archive;
        font-size: 18px;
    }
}

.mega {
    color: #6393a6;
    font-size: 404px;
    line-height: 404px;
    text-align: center;
}

.link-with-round-image {
    p {
        font-size: 14px;
        line-height: 18px;
        color: #6393a6;
    }
}

.img-box {
    position: relative;

    .decor {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.img-preloader {
    position: absolute;
    overflow: hidden;
    left: -9999px; 
    top: -9999px;
    height: 1px;
    width: 1px;
}

h3.with-right-decor {
    position: relative;
    left: -4px;

    &:before {
        content: '';
        display: inline-block;
        @include background-image('small-decor-left.png');
        margin-right: 5px;
    }
}

.page {
    margin-bottom: 48px;
}

.corner {
    float: left;
    @include background-image('corner.png');
}

.special .head,
.townhouses .head {
    height: 15px;
    border-top: 1px solid #366f9d;
    border-right: 1px solid #366f9d;
}

.special .content, 
.townhouses .content {
    border-left: 1px solid #366f9d;
    border-right: 1px solid #366f9d;
    border-bottom: 1px solid #366f9d;
}

.img-link {
    display: inline-block;
    border-bottom: none !important;
}

.pagination {
    margin-left: 10px;

    li {
        display: inline-block;
        margin-right: 20px;

        &.current .wrap {
            @include bleed(10px, left right);
            @include bleed(7px, top bottom);
            background: #071f4e;
            @include border-radius(8px);

            a {
                border-bottom: none;

                &:before, &:after {
                    content: '';
                    display: inline-block;
                }

                &:before {
                    @include background-image('small-decor-left.png');
                    margin-right: 5px;
                }

                &:after {
                    @include background-image('small-decor-right.png');
                    margin-left: 5px;
                }

                &:hover {
                    color: $white;
                    cursor: default;
                }
            }
        }
    }
}
// /base styles


// header-styles
.header {
    .menu li.current,
    .menu li:hover {
        background: image-url('menu-current.png');
        background-size: 100% 100%;
        margin-left: -5px;
        padding-left: 5px;
        margin-right: 23px;
        padding-right: 5px;
        margin-bottom: -5px;
        padding-bottom: 5px;
        @include border-radius(4px);

        a {
            color: #563103;
            border: none;
        }
    }

    .special-link {
        position: relative;
    }

    .menu li.special-link.current,
    .menu li.special-link:hover {
        background: none;
    }
}

.rays {
    position: absolute;
    @include background-image('rays.png');
    top: -40px;
    left: -235px;
    z-index: -1;
}
.header {
    position: relative;
    height: 7*$height-atom;
    padding-top: $height-atom;
    margin-bottom: $height-atom;
}

.header-top {
    margin-top: 20px;
}

.main-logo {
    @include span-columns(3, 24);
}

.header-top, .header-bottom {
    @include span-columns(20, 24);
    @include pre(1);
}

.main-heading {
    @include span-columns(18, 20);
}

.contacts-link { 
    @include span-columns(2, 20);
    font-size: 14px;
    line-height: 16px;
}

.header-bottom {
    margin-top: 24px;
    position: relative;
}

.header-bottom .menu {
    height: 36px;
    line-height: 36px; 

    img {
        vertical-align: middle;
    }

    li {
        margin-right: 28px;
        font-family: Archive;
        font-size: 18px;
    }
}

.special-offers-link {
    position: relative;
    font-family: $default-font-family;

    a {
        border: none;
    }

    .hint {
        position: absolute;
        top: 50px;
        left: -110px;
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        line-height: 16px;
        color: #69addc;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: -12px;
            right: -35px;
            @include background-image('special-offers-arrow.png');
        }
    }
}
// /header styles

// main styles
.index-plax {
    position: relative;
    height: 29*$height-atom;
    margin-bottom: 2*$height-atom;
}

.hotel-plax {
    position: relative;
    height: 15*$height-atom;
    margin-bottom: 2*$height-atom;
}

.special-offers-slider {
    position: absolute;
    bottom: 0;  

    .previous, .next {
        top: 30%;
    }

    .previous {
        left: -30px;
    }

    .next {
        right: -30px;
    }

    h3 {
        color: #6393a6;
    }
    
    .image-slider {
        position: relative;
        width: 125px;
        height: 125px;
    }

    .text-slider {
        height: 50px;

        li {
            display: none;
        }

        li.current {
            display: block;
        }

        a {
            font-weight: bold;
        }
    }
}

.slider-container {
    height: 400px;
}

.promo-slider, .season-slider {
    position: relative;

    a {
        border: none;
    }

    a:hover {
        color: $white;
    }

    .previous, .next {
        top: 60px;
    }

    .previous {
        left: -30px;
    }

    .next {
        right: -30px;
    }

    li {
        text-align: center;
    }
}

.promo-slider, .special-offers-slider, .season-slider {
    .previous, .next {
        position: absolute;
        cursor: pointer;
    }

    .previous {
        @include background-image('slider-back-arrow.png');     
    }

    .next {
        @include background-image('slider-next-arrow.png');
    }
}

.promo-box {
    @include span-columns(8);
    position: relative;

    .text {
        position: absolute;
        top: 0;
        left: 10px;
        max-width: 180px;
        background: $light-blue;
        padding: 15px;
        @include border-radius(9px);
        text-align: left;
        font-family: Archive;
        font-size: 18px;
        line-height: 24px;

        .hint {
            font-family: $default-font-family;
            font-size: 14px;
        }
    }

    .all-promos-link {
        border: 2px dashed $white;
        @include border-radius(5px);
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 40px;
        height: 95px;
        text-align: center;

        a {
            border-bottom: 1px solid #a3b3c6;
        }

        a:hover {
            color: $orange;
            border-color: #796b4b;
        }
    }
}

.promo-page {
    &.waved {
        background: $dark-blue;

        .page {
        margin-bottom: 0;
    }
    }
}

.image-link-box {
    margin-top: 60px;

    a:hover p {
        color: $orange;
    }
}

.map-labels {
    position: relative;

    .label {
        position: absolute;
        display: inline-block;
        text-align: center;

        p {
            background: $light-blue;
            padding: 15px;
            @include border-radius(9px);
            text-align: center;
            font-family: Archive;
            font-size: 14px;
            line-height: 18px;
            max-width: 140px;
        }

        img {
            position: relative;
            top: 15px;
        }
    }

    .hotel-label {
        height: 55px;
        display: table;
        overflow: hidden;

        .text-box {
            display: table-cell; 
            vertical-align: middle;
        }

        img, span {
            display: inline-block;
            vertical-align: top;
        }  

        img {
            margin-top: -15px;
        }   

        span {
            width: 180px;
            font-family: 'Archive';
            font-size: 18px;
            text-align: left;

            a {
                color: #6db7ed;
                border-color: #377fb7;
            }

            a:hover {
                color: $orange;
                border-color: #796b4b;
            }

            .small-hint {
                font-size: 14px;
                font-family: $default-font-family;
                color: #6db7ed;
            }
        }

        &.reversed span {
            text-align: right;
        }

        &.diving {
            top: -17px;
            left: 187px;
        }

        &.minigolf {
            top: 42px;
            left: 40px;
        }

        &.stadio {
            top: 109px;
            left: 64px;
        }

        &.rope_city {
            top: 178px;
            left: 23px;
        }

        &.horse_riding {
            top: -17px;
            left: 669px;
        }

        &.boats {
            top: 129px;
            left: 720px;
        }
    }

    .horse_riding {
        right: 5px;
        top: -35px;
    }

    .skees {
        right: 400px;
        top: 0;
    }

    .sauna {
        right: 35px;
        top: 150px;
    }

    .stadio {
        right: 35px;
        top: 150px;
    }

    .quadro {
        right: 400px;
        top: 0;
    }

    .minigolf {
        right: 400px;
        top: 0;
    }

    .boats {
        right: 5px;
        top: -35px;
    }

    .paintball {
        right: 35px;
        top: 150px;
    }

    .diving {
        right: 400px;
        top: 0;
    }

    .fishing {
        right: 5px;
        top: -35px;
    }

    .animation {
        right: 5px;
        top: -35px;
    }
}

.hotel-main {
    @include span-columns(16);
    margin-left: -32px;
    padding-right: 32px;
    margin-top: 48px;
}

.hotel-img, .hotel-text {
    display: inline-block;
    margin-bottom: 24px;
}

.hotel-text {
    width: 440px;
    vertical-align: top;
    margin-top: 24px;

    h4 {
        margin-bottom: 6px;
    }
}

.townhouses {
    background: $alt-light-blue;
    margin-left: 6px;
    margin-right: 9px;
    margin-top: 48px;

    .content {
        padding-bottom: 24px;
        padding-top: 16px;
    }
}

.townhouse-box {
    margin-left: 24px;
    margin-bottom: 24px;
}

.townhouse-img, .townhouse-text {
    display: inline-block;
    vertical-align: top;
}

.townhouse-img {
    width: 145px;
}

.townhouse-text {
    width: 110px;

    ul li {
        font-style: italic;
        color: #6393a6; 
    }

    a h4 {
        display: inline;
    }
}

.super-slider {
    margin-top: 24px; 

    .left-menu li a {
        color: #f28f16;
        border-bottom: 1px dotted #f28f16;
        line-height: 24px;
    }

    .left-menu li {
        margin-bottom: 12px;
    }

    .left-menu li.current a {
        color: $white;
        border: none;
        cursor: default;
        position: relative;

        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            top: 5px;
        }

        &:before {
            @include background-image('small-decor-left.png');
            left: -25px;
        }

        &:after {
            @include background-image('small-decor-right.png');
            right: -25px;
        }
    }

    .rest-slider-link:before, .rest-slider-link:after {
        top: 29px !important;
    }

    .image-slider {
        position: relative;
        width: 600px;

        .previous, .next {
            position: absolute;
            top: 170px;
            width: 65px;
            height: 65px;
            cursor: pointer;
            background: image-url('slider-buttons.png');
            z-index: 99;

            &.inactive {
                cursor: default;
            }
        }

        .previous {
            background-position: 0 0;
            left: -40px;

            &.inactive {
                background-position: 0 -88px;
            }
        }

        .next {
            background-position: -88px 0;
            right: -25px;

            &.inactive {
                background-position: -88px -88px;
            }
        }
    }

    .previews-container {
        width: 665px;
        margin-right: -60px;
        margin-left: -5px;
        margin-bottom: 36px;
    }

    .previews {
        margin-top: 24px;
        display: none;

        &.current {
            display: block;
        }

        li {
            vertical-align: top;
            width: 100px;
            margin-right: 4px;
            margin-bottom: 10px;
            font-size: 14px;
            font-style: italic;
            line-height: 18px;

            a {
                color: #6393a6;
            }

            a:hover {
                color: $orange;
            }

            .hint {
                margin-left: 10px;
            }
        }

        .current-decor {
            display: none;
        }

        & li.current {
            .not-current-decor {
                display: none;
            }

            .current-decor {
                display: inline;
            }

            a:hover {
                color: #6393a6;
                cursor: default;
            }
        }
    }
}

.room-description-container {
    .room-description {
        display: none;
        margin-right: -15px;
        line-height: 24px;
    }

    .room-description.current {
        display: block;
    }
}

.panorama-container {
    display: none;

    &.current {
        display: block;
    }

    .panorama-box {
        text-align: right;
        width: 1000px;
        margin-left: -160px;
    }

    .panorama-switcher {
        margin-left: -40px;
        padding-top: 4*$height-atom;

        .panorama-menu {
            padding-left: 24px;

            .panorama-title {
                position: relative;
                margin-bottom: 24px;
            }

            .panorama-arrow {
                position: absolute;
                @include background-image('panorama-arrow.png');
                top: -28px;
                left: -24px;
            }

            ul {
                li {
                    margin-bottom: 12px;
                    position: relative;

                    .before {
                        position: absolute;
                        @include background-image('li-decor.png');
                        top: 10px;
                        left: -20px;
                    }

                    a {
                        border-style: dotted;
                    }
                }
            }
        }
    }
}

.contacts-box {
    margin-top: 24px;
    margin-bottom: 24px;
    position: relative;

    .column-4 {
        padding-top: 24px;
    }
}

#resort_map {
    position: absolute;
    top: -100px;
}

#office_map {
    position: absolute;
    top: -30px;
}

.service-page-cont {
    margin-top: 3*$height-atom;

    .img-column {
        text-align: center;
    }
}

.season-table {
    margin-left: 120px;
    margin-top: 24px;

    thead {
        tr {
            height: 120px;
        }

        td {
            font-size: 14px;
            font-weight: bold;
            line-height: 18px;
        }

        .price-type-desc {
            font-size: 12px;
            font-weight: normal;
            font-style: italic;
        }
    }

    tbody {
        td {
            padding: 3px 0px 4px 0px;
        }

        tr.row:hover {
            background: #03658c;
            margin-left: -40px;

            .row-title, .row-last {
                position: relative;
            }

            .before, .after {
                position: absolute;
                top: 10px;
            }

            .before {
                @include background-image('small-decor-left.png');
                left: 10px;
            }

            .after {
                @include background-image('small-decor-right.png');
                right: 30px;
            }
        }
    }

    td {
        vertical-align: top;
        width: 140px;
        padding-right: 20px;
    }

    td:first-child {
        width: 240px;
        padding-left: 40px;
    }

    .room-config-title {
        height: 48px;
        line-height: 48px;
        vertical-align: baseline;
    }

    tr.separator {
        height: 72px;
    }

    .price-box {
        text-align: right;
        width: 140px;
        margin-left: -91px;
    }

    .room-config-title td {
        position: relative;

        .hotels-images {
            position: absolute;
            top: 0px;
            left: -160px;
        }
    }
}

.center-text {
    @include pre(4);
    @include suffix(1);
}

.service-page {
    width: 1000px;
    margin-left: -40px;
}

.service-box {
    display: inline-block;
    width: 440px;
    margin-left: 40px;
    margin-top: 48px;

    &:hover {
        margin-top: 36px;
        padding-top: 7px;
        margin-right: -29px;
        padding-right: 24px;
        margin-bottom: -12px;
        padding-bottom: 7px;
        margin-left: 35px;
        border: 5px solid #03598e;
        @include border-radius(12px);
    }

    .service-image,
    .service-text {
        display: inline-block;
        vertical-align: top;
    }
    
    .service-text {
        width: 320px;
        
        a {
            border-bottom: none;
        }

        h3 {
            margin-top: 4px;

            a {
                border-bottom: 1px #a3b3c6 solid;
            }

            a:hover {
                color: $orange;
                border-color: #796b4b;
            }
        }

        p {
            margin-top: 12px;
        }
    }

    .service-image {
        width: 120px;
        text-align: center;
        margin-right: -5px;
    }
}

.press-item {
    margin-bottom: 48px;

    .press_type {
        margin-bottom: 10px;

        span {
            background: $orange;
            padding: 6px 10px 6px 10px;
        }
    }

    .press-title {
        .title h2{
            display: inline-block;
            margin-right: 7px;
        }
    }

    .press-short-text {
        margin-top: 13px;
    }

    .photoreport-previews {
        margin-top: 24px;

        .photo-preview {
            display: inline-block;
            vertical-align: top;
            margin-right: 20px;

            img {
                @include border-radius(7px);
            }
        }
    }
}

.press-menu {
    background: #03658c;
    margin-left: -22px;
    margin-right: 22px;
    @include border-radius(8px);
    padding: 8px;
    
    li span {
        font-family: 'Archive';
        font-size: 14px;
        display: inline-block;
        @include border-radius(8px);
        padding: 7px 10px;

    }

    li.current span {
        background: #3095c1;

        a {
            border: none;
            cursor: default;
            color: $white;
        }
    }
}

.restraunts-about {
    .column-4.special {
        margin-top: -24px;
    }
}

.panorama-hint {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin-top: 15px;
    padding-left: 24px;
}

.specials-menu {
    position: absolute;
    display: none;
    top: -5px;
    left: 603px;
    width: 172px;
    z-index: 2;

    .before {
        @include background-image('specials-top.png');
    }

    .knob {
        @include background-image('specials-knob.png');
        position: absolute;
        top: 14px;
        left: 131px;
        cursor: pointer;
    }

    .after {
        @include background-image('specials-bottom.png');
    }

    .content {
        background: image-url('specials-middle.png');
        padding-left: 10px;
        padding-right: 20px;

        ul {
            text-align: right;
            font-weight: bold;

            li {
                margin-top: 10px;

                &:first-child {
                    margin-top: 0px;
                }
            }

            a {
                color: #014780;
            }

            a:hover {
                color: $orange;
                border-color: #f8c78a;
            }
        }
    }
}

.services-prices {
    .img-column, .text-column {
        display: inline-block;
        margin-right: -5px;
        float: none;
        vertical-align: top;
    }
}

.service-prices-item {
    margin-bottom: 48px;

    .mega-heading {
        margin-top: 38px;
    }

    table {
        margin-top: 24px;
        
        thead {
            font-size: 14px;
            font-weight: bold;
            line-height: 18px;

            .hint {
                font-size: 12px;
                font-weight: normal;
                font-style: italic;
            }

            td {
                vertical-align: top;
                height: 62px;
            }
        }

        tbody {
            td {
                height: 34px;
            }
        }

        td.title {
            width: 440px;
        }

        td.time {
            width: 80px;
        }

        td.price {
            width: 80px;
        }
    }
}

.hotels-previews {
    margin-bottom: 12px;
}

.img-shadow {
    display: inline-block;
}

.btn {
    height: image-height('btn.png');
    background: image-url('btn.png');
    padding-left: 15px;
    position: relative;
    color: #004780;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    span {
        position: relative;
        top: -6px;
    }

    &:after {
        content:'';
        display: block;
        position: absolute;
        background: image-url('btn.png');
        height: image-height('btn.png');
        width: 15px;                     
        background-position: 15px;  
        top: 0px;
        right: -15px;        
    }
} 

a.btn {
    display: inline-block;
    border-bottom: none;
    color: #004780 !important;
    font-size: 16px !important;
    font-weight: bold !important;
    font-style: normal !important;
    
    &:hover {
        color: #004780 !important;
    }

    span {
        top: 6px;
    }
}

.input.with-errors,
.textarea.with-errors {
    border-color: #993333 !important;
}

.order-form {
    margin-top: 120px;

    label {
        font-family: 'Archive';
        font-size: 14px;
        line-height: 18px;
        width: 120px;
        color: #6393a6;
    }

    .form-room-config {
        text-align: justify;
        height: 144px;

        &:after {
            content: '';
            width: 100%;
            display: inline-block;
        }
    }

    .form-rooms {
        .rooms-menu {
            display: none;

            &.current {
                display: block;
            }
        }
    }

    .hotel-item {
        display: inline-block;
        vertical-align: top;

        &.current {
            background: #03658c;
            margin: -20px;
            padding: 20px;
            @include border-radius(7px);

            .room-config-link {
                border-bottom: none;

                &:hover {
                    color: white;
                    cursor: default;
                }
            }
        }

        .hotel-previews {
            height: 72px;
        }

        .hotels-hint {
            font-size: 18px;
            line-height: 24px;
            font-family: 'Archive';
            color: #81bdee;
            border: none;
        }

        .room-config-link {
            font-size: 18px;
            line-height: 24px;
            font-family: 'Archive';
            border-style: dotted;
        }
    }

    .season-slider {
        margin-left: -20px;
        margin-right: -20px;

        .previous {
            left: -40px;
        }
    }

    .season-column {
        margin-top: 96px;

        label {
            display: block;
            margin-top: 24px;
        }
    }

    .season-item {
        padding: 20px;
        @include border-radius(7px);
        text-align: left;
        display: inline-block;
        margin-right: 20px;

        .season-link {
            font-size: 18px;
            line-height: 24px;
            font-family: 'Archive';
            border-bottom: 1px dotted #a3b3c6;

            &:hover {
                color: $orange;
                border-color: #796b4b;
            }
        }

        .special-offer-label {
            margin-top: 6px;

            span {
                display: inline-block;
                background: $orange;
                padding: 4px 10px;
            }
        }
    }

    .current .season-item {
        background: #03658c;
        padding: 20px;

        .season-link {
            border-bottom: none;

            &:hover {
                color: white;
                cursor: default;
            }
        }
    }
}

.inputs {
    margin-top: 66px;

    .input-row {
        height: 40px;
        margin-top: 34px;
    }

    .phone-lead {
        display: inline-block;
        width: 35px;
    }

    .input {
        width: 304px;
        background: #fdfdfd;
        height: 32px;
        border: 4px solid #03658c;
        @include border-radius(6px);
        padding: 0px 4px;
        font-size: 18px;

        &.input-phone {
            width: 268px;
        }

        &:focus {
            outline: none;
        }
    }
    
    .input-hint {
        color: #6393a6;
        font-size: 14px;
        font-style: italic;
    }
}

.review-form {
    .inputs {
        margin-top: 0px;

        .input-row {
            height: 48px;
        }

        .input {
            width: 222px;
            background: #fdfdfd;
            height: 32px;
            border: 1px solid #aaaaaa;
            @include border-radius(6px);
            padding: 0px 4px;
            font-size: 18px;

            &.input-phone {
                width: 188px;
            }
            
            &:focus {
                outline: none;
            }
        }

        .input-hint {
            color: $black;
            font-size: 14px;
            padding-left: 25px;
        }
        
        .input-box {
            width: 234px;
        }

        .textarea-row {
            margin-top: 41px;
        }

        .textarea {
            width: 440px;
            height: 160px;
            background: #fdfdfd;
            border: 1px solid #aaaaaa;
            @include border-radius(6px);
            padding: 0px 4px;
            font-size: 18px;
            resize: none; 
            font-family: $default-font-family;

            &:focus {
                outline: none;
            }
        }
    }

    .hint {
        font-size: 14px;
        font-weight: bold;
        margin-left: 15px;
        position: relative;
        top: -6px;
    }

    .form-controls {
        margin-top: 34px !important;
        margin-bottom: 24px !important;

    }
}

.errors-box {
    position: relative;
}

.errors {
    position: absolute;
    top: 0px;
    left: 5px;
    color: red;
    font-size: 12px;
}

.form-controls {
    margin-top: 48px;

    .controls-hint {
        position: relative;
        top: -5px;
        margin-left: 10px;

        .controls-hint-phone {
            position: relative;
        }

        .controls-hint-phone-hint {
            position: absolute;
            top: 22px;
            left: 0px;
            color: #6393a6;
            font-size: 14px;
            line-height: 18px;
            width: 110px;
        } 
    }
}

.review-list-page {
    margin-top: 48px;
}

.review-list-sidebar {
    margin-top: 80px;
}

.review-row {
    margin-bottom: 40px;
}

.review-column-main {
    background: #03598e;
    @include border-radius(12px);
    position: relative;
    min-height: 96px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 23px;
        left: -13px;
        @include background-image('review-triangle.png');
    }

    .review {
        padding: 17px 15px;
    }
}

.left-review-column {
    padding-top: 30px;

    .review-date {
        font-size: 14px;
        font-style: italic;
        color: #6393a6;
    }
}

.order-sidebar {
    .text {
        color: #6393a6;
        margin-top: -10px;
    }

    .btn {
        margin-left: -12px !important;
    }
}

.order-link {
    .hint {
        padding-left: 12px;
        color: #6393a6;
        position: relative;
        top: -4px;
    }
}

.text-page {
    p, img {
        margin-bottom: 8px;
    }


    h1, h2, h3, h4, h5 {
        margin-bottom: 12px;
        
        * + & {
            margin-top: 15px;
        }

        p + & {
            margin-top: 30px;
        }
    }
}
// /main styles


// footer styles
.footer-inner {
    margin-top: 3*$height-atom;
    height: 100px;

    .footer.waved & {
        background: $dark-blue;
    }
}

.footer .menu {
    height: 32px;
    line-height: 32px; 
    margin-top: 10px;

    img {
        vertical-align: middle;
    }

    li {
        font-family: Archive;
        font-size: 18px;
    }

    li:after {
        content: '';
        display: inline-block;
        @include background-image('list-marker.png');
        margin-left: 10px;
        margin-right: 6px;
    }

    li:last-child:after {
        display: none;
    }
}

.footer .copy {
    font-size: 14px;
    color: #5b7ab6;
    margin-top: 10px;

    a {
        color: #5b7ab6;
        border-color: #5b7ab6;
    }

    li {
        display: inline-block;
    }

    li + li {
        margin-left: 40px;
    }
}

.footer .contacts-link { 
    @include span-columns(3);
    margin-top: 12px;
    position: relative;
    margin-left: 40px;
    margin-right: -40px;

    a {
        color: #838fa7;
        border-color: #838fa7;
    }

    a:hover {
        color: $orange;
        border-color: #796b4b;
    }
}
// /footer styles

// add
.vk-btn {
    vertical-align: middle;
    display: inline-block;
    background: image-url('vk-btn.png');
    height: image-height('vk-btn.png');
    width: image-width('vk-btn.png');
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.full-map-top-heading {
    margin-bottom: 96px;
}

.full_map_text {
    ol {
        counter-reset: li;

        li {
            display: block !important;
            margin-bottom: 15px;
            padding-left: 40px;

            &:before {
                content: counter(li) '.';
                counter-increment: li;
                display: inline-block;
                width: 40px;
                margin-left: -40px;
                text-align: center;
                color: #489adb;
                font-weight: bold;
            }

            span {
                line-height: 24px !important;
                font-size: 16px !important;
            }
        }
    }

    .right-list ol {
        counter-reset: li 10;
    }

    p > span {
        display: inline-block;
        width: 40px;
        margin-left: -40px;
        text-align: center;
    }
}

.full-map-link {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
// /add







