{% extends 'base.html' %}

{% load thumbnail siteblocks_extras pymorphy_tags %}

{% block content %}
<div class="page">
    {% include 'about_header.html' %}

    <div class="column-4">
        <ul class="press-menu">
            <li {%if not request.GET.press_type%}class="current"{%endif%}><span><a href="{{request.path}}">Все записи</a></span></li>
            <li {%if request.GET.press_type == 'news'%}class="current"{%endif%}><span><a href="{{request.path}}?press_type=news">Новости</a></span></li>
            <li {%if request.GET.press_type == 'special_offer'%}class="current"{%endif%}><span><a href="{{request.path}}?press_type=special_offer">Специальные предложения</a></span></li>
            <li {%if request.GET.press_type == 'photoreport'%}class="current"{%endif%}><span><a href="{{request.path}}?press_type=photoreport">Фотоотчеты</a></span></li>
        </ul>
    </div>
    <div class="column-16">
        {% for press_item in press_list %}
        <div class="column-14 press-item">
            <div class="press_type">
                <span>{{press_item.press_type|capfirst}}</span>
            </div>
            <div class="press-title">
                <span class="title"><h2><a href="{% url press_item_url press_item.id %}">{{press_item.title}}</a></h2></span>
                <span class="date">{{press_item.date_add|date:"j E Y"}}</span>
            </div>
            <div class="press-image">
                <a href="{% url press_item_url press_item.id %}" class="img-link">
                    {% if press_item.specialoffer %}
                        {% thumbnail press_item.specialoffer.image "600" upscale=False format="PNG" as im %}
                            <img class="with-shadow" src="{{im.url}}" alt="" width="{{im.width}}" height="{{im.height}}">
                        {% endthumbnail %}
                    {% elif press_item.news %}
                        {% thumbnail press_item.news.image "600" upscale=False format="PNG" as im %}
                            <img class="with-shadow" src="{{im.url}}" alt="" width="{{im.width}}" height="{{im.height}}">
                        {% endthumbnail %}
                    {% endif %}
                </a>
            </div>
            <div class="press-short-text">
                {{press_item.short_text}}
            </div>
            {% if press_item.photoreport %}
            <div class="photoreport-previews">
                {% for pressphoto in press_item.photoreport.pressphoto_set.all %}
                <div class="photo-preview">
                {% thumbnail pressphoto.image "76x76" format="PNG" crop="center" as im %}
                    <img class="with-shadow" src="{{im.url}}" alt="">
                {% endthumbnail %}
                </div>
                {% endfor %}
            </div>
            {% endif%}
        </div>
        {% empty %}
        <div class="column-14 press-item">
            ...
        </div>
        {% endfor %}

        <div class="column-16">
            {% if is_paginated and page_obj.paginator.num_pages > 1 %}
                {% include 'pagination.html' %}
            {% endif %}
        </div>
    </div>
    <div class="column-4 special">
        {% get_sidebar_order %}
    </div>
</div>
{% endblock %}

{% block footer_class %}
waved
{% endblock %}