{% extends "base.html" %}

{% load thumbnail siteblocks_extras %}

{% if page.title %}
    {% block title %}
        {{ page.title }} &mdash;
    {% endblock %}
{% endif %}

{% block content %}
<div class="page">
    {% include 'about_header.html' %}

    <div class="column-20">
        <div class="column-4">
            <a href="/full_map/" class="img-link">
                {% if summer_or_winter == 'summer' %}
                    <img src="/static/images/minimap-summer.png" width="120">
                {% else %}
                    <img src="/static/images/minimap-winter.png" width="120">
                {% endif %}
            </a>
            <p><a href="/full_map/">Карта курорта</a></p>
        </div>

        <div class="column-16 main-text-column press-item">
            <h1>{{ pressitem.title }}</h1>
            <div class="press-image">
                {% if pressitem.specialoffer %}
                    {% thumbnail pressitem.specialoffer.image "600" upscale=False format="PNG" as im %}
                        <img class="with-shadow" src="{{im.url}}" alt="" width="{{im.width}}" height="{{im.height}}">
                    {% endthumbnail %}
                {% elif pressitem.news %}
                    {% thumbnail pressitem.news.image "600" upscale=False format="PNG" as im %}
                        <img class="with-shadow" src="{{im.url}}" alt="" width="{{im.width}}" height="{{im.height}}">
                    {% endthumbnail %}
                {% endif %}
            </div>
            <div class="redactor text-column">
                {{ pressitem.text|safe }}
            </div>
            {% if pressitem.photoreport %}
            <div class="photoreport-previews">
                {% for pressphoto in pressitem.photoreport.pressphoto_set.all %}
                <div class="photo-preview">
                    {% thumbnail pressphoto.image "600" upscale=False format="PNG" as im %}
                    <img class="with-shadow" src="{{im.url}}" alt="" width="{{im.width}}" height="{{im.height}}">
                    {% endthumbnail %}
                </div>
                {% endfor %}
            </div>
            {% endif%}
        </div>
    </div>

    {% get_sidebar_two_addresses %} 
</div>
{% get_special_offers_slider waved='True' %}

{% endblock %}