{% extends "admin/base_site.html" %}
{% load static thumbnail siteblocks_extras rooms_extras pymorphy_tags %}

{% block extrahead %}
<link rel="stylesheet" href="/static/js/fancybox/jquery.fancybox.css" />
<link rel="stylesheet" href="{% static "/static/css/admin_rooms_prices.css" %}">
<script src="{% static "/static/js/jquery.min.js" %}"></script>
<script src="/static/js/fancybox/jquery.fancybox.pack.js"></script>
{% endblock %}

{% block content %}
<div class="bootstrapped">
    <div class="container">
        <ul class="inline middle-inline prices-head-line">
            <li><h2>Цены для номеров</h2></li>
            <li><a href="#archive-modal" class="fancybox">Архив предложений</a></li>

            <div id="archive-modal" class="modal hide bootstrapped">
                <div class="modal-body">
                    <h3>Архив предложений</h3>
                    <ul>
                    {% for season in archieved_seasons %}
                    <li><a href="{{request.path}}?season={{season.id}}">{{season}}</a></li>
                    {% endfor%}
                    </ul>                  
                </div>
            </div>

        </ul>
        <br><br><br>
        <div class="row">
            <div class="span6 prices-header">
                {% if season.get_prev_not_archive_season %}
                <a href="{% url admin_rooms_prices_url %}?season={{season.get_prev_season.id}}" class="before"></a>
                {% else %}
                <span class="before disabled"></span>
                {% endif %}
                
                <div class="season-box">
                    <ul class="inline middle-inline">
                        <li><h2 class="season-title">{{season.title}}</h2></li>
                        <li><a href="" class="icin icon-pencil h2-icon edit-season-btn" data-id="{{season.id}}"></a></li>
                    </ul>
                    <div class="season-date">{% get_period_string season.date_from season.date_to %}</div>
                    <div>
                        <span class="label label-warning season-label">{{season.special_offer_label}}</span>
                    </div>
                </div>

                {% if season.get_next_season %}
                <a href="{% url admin_rooms_prices_url %}?season={{season.get_next_season.id}}" class="after"></a>
                {% else %}
                <span class="after disabled"></span>
                {% endif %}
            </div>
            <div class="span3">
                <br>
                <a href="#add-season-modal" class="btn btn-primary pull-right fancybox">Добавить период</a>

                <div id="add-season-modal" class="modal hide bootstrapped">
                    <div class="modal-body">
                        <h3>Добавить период</h3>
                        
                        <form method="post" action="{% url admin_create_season_url %}">
                            <fieldset>
                                <label>Название:</label>
                                <input type="text" name="title" class="input input-big" value="">
                            </fieldset>
                            <fieldset>
                                <label>Дата начала (формат: дд/мм/гггг):</label>                                    
                                <input type="text" name="date-from" class="input input-small" value="">
                            </fieldset>
                            <fieldset>
                                <label>Дата окончания (формат: дд/мм/гггг):</label> 
                                <input type="text" name="date-to" class="input input-small" value="">
                            </fieldset>
                            <fieldset>
                                <label>Подсказка о спец. предложении:</label>
                                <input type="text" name="label" class="input input-big" value="">
                            </fieldset>
                            <div>
                                <button class="btn btn-primary" type="submit">Сохранить</button> 
                            </div> 
                        </form>           
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <table class="table season-table">
            <thead>
                <tr>
                    <td class="hotel-title">
                        <a href="" class="btn btn-primary pull-right add-season-column-button"><strong>+</strong></a>
                    </td>
                    {% for price_type in season.get_price_types %}
                    <td class="span2">
                    <div><a href="" class="edit-price-type-btn" data-id="{{price_type.id}}">{{price_type.title}}</a></div>
                    <div class="price-type-desc">{{price_type.description}}</div>
                    </td>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
            {% regroup room_price_list by room_config as room_price_list %}
            {% for room_config in room_price_list %}
                <tr class="room-config-tr">
                    <td colspan="5">
                        <h3>{{ room_config.grouper }}</h3>
                    </td>
                </tr>
                {% for room in room_config.list %}
                <tr data-room-id="{{room.id}}">
                    <td>
                    {{ room.title }}
                    </td>
                    {% for price in room.season_prices %}
                    <td>
                        <div class="price-box">
                            <input type="text" class="input input-mini season-price-input" data-id="{{price.id}}" value="{{price.price}}">
                        </div>                    
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    $(function(){
        $('.add-season-column-button').on('click', function(e){
            e.preventDefault()

            var el = $(this);
            var table = $('.season-table');
            var priceTitleCell = '<td class="span2">' +
                                     '<div><input type="text" class="input input-small" name="title"></div>' +
                                     '<div class="price-type-desc"><input type="text" class="input input-small" name="description"></div>' +
                                     '<div><a href="" class="btn btn-primary save-new-price-type-btn"><strong>Сохранить</strong></a></div>' +
                                 '</td>'

            table.find('thead tr').append(priceTitleCell);
        });

        $('body').on('click', '.save-new-price-type-btn', function(e){
            e.preventDefault()

            var el = $(this);
            var table = $('.season-table');
            var title = el.parents('td').find('input[name="title"]').attr('value');
            var description = el.parents('td').find('input[name="description"]').attr('value');
            var priceCell = '<td>' +
                                '<div class="price-box">' +
                                    '<input type="text" class="input input-mini season-price-input" data-id="" value="">' +
                                '</div>' +                  
                            '</td>'

            $.ajax({
                url: '{% url admin_create_prices_url %}',
                type: 'post',
                data: {'season': '{{season.id}}','title': title, 'description': description },
                success: function(data){
                    window.location = '{{request.path}}?season={{season.id}}'
                }
            })
        });

        $('.season-price-input').on('change', function(){
            var el = $(this);
            var priceId = el.attr('data-id');
            var price = el.attr('value');

            $.ajax({
                url: '{% url admin_change_room_price_url %}',
                type: 'post',
                data: {
                    'price_id': priceId,
                    'price_val': price
                }
            })
        });

        $('.fancybox').fancybox({padding:0});

        $('.edit-price-type-btn').on('click', function(e){
            e.preventDefault();

            var el = $(this);
            var container = el.parents('td');
            var title = el.text();
            var description = container.find('.price-type-desc').text();
            var priceTypeId = el.attr('data-id');
            var priceTitleCell = 
                                     '<div><input type="text" class="input input-small" name="title" value="'+title+'"></div>' +
                                     '<div class="price-type-desc"><input type="text" class="input input-small" name="description" value="'+description+'"></div>' +
                                     '<div><a href="" data-id="'+priceTypeId+'" class="btn btn-primary save-price-type-btn"><strong>Сохранить</strong></a></div>'
                                

            container.html(priceTitleCell);
        });

        $('body').on('click', '.save-price-type-btn', function(e){
            e.preventDefault()

            var el = $(this);
            var id = el.attr('data-id');
            var title = el.parents('td').find('input[name="title"]').attr('value');
            var description = el.parents('td').find('input[name="description"]').attr('value');
            var priceCell = '<td>' +
                                '<div class="price-box">' +
                                    '<input type="text" class="input input-mini season-price-input" data-id="" value="">' +
                                '</div>' +                  
                            '</td>'

            $.ajax({
                url: '{% url admin_save_price_type_url %}',
                type: 'post',
                data: {'id': id, 'title': title, 'description': description },
                success: function(data){
                    window.location = '{{request.path}}?season={{season.id}}'
                }
            })
        });

        $('.edit-season-btn').on('click', function(e){
            e.preventDefault();

            var el = $(this);
            var container = el.parents('.season-box');
            var title = container.find('.season-title').text();
            var label = container.find('.season-label').text();
            var priceTypeId = el.attr('data-id');
            var priceTitleCell = '<div><input type="text" name="season-title" class="input input-big" value="'+title+'"></div>' +
                                 '<div><input type="text" name="season-date-from" class="input input-small" value="{{season.date_from|date:'d/m/Y'}}"> ' +
                                      '<input type="text" name="season-date-to" class="input input-small" value="{{season.date_to|date:'d/m/Y'}}"></div>' +
                                 '<div><input type="text" name="season-label" class="input input-big" value="'+label+'"></div>' +
                                 '<div><a class="btn btn-primary save-season-btn" data-id="{{season.id}}">Сохранить</a></div>'                              

            container.html(priceTitleCell);
        });

        $('body').on('click', '.save-season-btn', function(e){
            e.preventDefault();

            var el = $(this);
            var id = el.attr('data-id');
            var container = el.parents('.season-box');
            var title = container.find('input[name="season-title"]').attr('value');
            var date_to = container.find('input[name="season-date-to"]').attr('value');
            var date_from = container.find('input[name="season-date-from"]').attr('value');
            var label = container.find('input[name="season-label"]').attr('value');

            $.ajax({
                url: '{% url admin_save_season_url %}',
                type: 'post',
                data: {'id': id, 'title': title, 'date_from': date_from, 'date_to': date_to, 'label': label },
                success: function(data){
                    window.location = '{{request.path}}?season={{season.id}}'
                }
            })
        });
    })
</script>

{% endblock %}

{% block breadcrumbs %}
{% endblock %}
