{% extends 'base.html' %}

{% load thumbnail siteblocks_extras %}

{% block content %}
<div class="page services-prices">
    {% include 'prices_header.html' %}

    <div class="column-20">
    {% for service in service_list %}
    <div class="service-prices-item">
        <div class="column-4 img-column">
            <img src="{{service.image.url}}">
        </div>
        <div class="column-15 suffix-1 text-column">
        <div class="mega-heading service-prices-heading">
            <a href="{% url service_detail_url service.slug %}">{{service.title}}</a>
        </div>
        {{service.price_page_description}}
        <table>
            {% if forloop.first %}
            <thead>
                <td class="title">Наименование <br>услуги</td>
                <td class="time">Время</td>
                <td class="price">Цена <br><span class="hint">руб.</span></td>
            </thead>
            {% endif %}
            <tbody>
            {% for price in service.serviceprice_set.all %}
            <tr>
                <td class="title">{{price.title}}</td>
                <td class="time">{{price.time}}</td>
                <td class="price">{{price.price|formatprice}} <span class="ruble">&#8399;</span></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    {% endfor %}
    </div>
    {% get_sidebar_order %}
</div>
{% endblock %}

{% block footer_class %}
waved
{% endblock %}