{% extends 'base.html' %}

{% load thumbnail siteblocks_extras pymorphy_tags %}

{% block content %}
    <div class="page page">
        <div class="mega-heading with-decor">
            <span>
                {{service.title|upper}}
                <div class="bottom-decor"></div>
            </span>
        </div>
        <div class="service-page-cont column-20">
            <div class="column-20">
                <div class="column-4 img-column">
                    <img src="{{service.image.url}}">
                </div>
                <div class="column-16 main-text-column redactor text-page">
                    {{service.description|safe}}
                </div>
            </div>
            {% if service.has_prices %}
            <div class="column-20">
                <div class="column-4">
                    <br>
                    <h3>Цены на {{service.title}}</h3>
                </div>
                <div class="column-16 service-prices-item">
                    <table>
                        <thead>
                            <td class="title">Наименование <br>услуги</td>
                            <td class="time">Время</td>
                            <td class="price">Цена <br><span class="hint">руб.</span></td>
                        </thead>
                        <tbody>
                        {% for price in service.serviceprice_set.all %}
                        <tr>
                            <td class="title">{{price.title}}</td>
                            <td class="time">{{price.time}}</td>
                            <td class="price">{{price.price|formatprice}} <span class="ruble">&#8399;</span></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif%}
        </div>
        <div class="column-4">
            {% get_sidebar_order sticker='true' %}
        </div>
    </div>
{% endblock %}

{% block footer_class %}
waved
{% endblock %}