{% extends 'base.html' %}

{% load thumbnail siteblocks_extras pymorphy_tags %}

{% block content %}
    <div class="page">
        <div class="mega-heading with-decor">
            <span>
                РАЗВЛЕЧЕНИЯ В «АВРОРА КЛУБ»
                <div class="bottom-decor"></div>
            </span>
        </div>
        <div class="service-page">
            {% for service in service_list %}
            <div class="service-box">
                <div>
                    <div class="service-image">
                        <a href="{% url service_detail_url service.slug %}" class="img-link">
                            <img src="{{service.image.url}}" alt="">
                        </a>
                    </div>
                    <div class="service-text">
                        <h3><a href="{% url service_detail_url service.slug %}">{{service.title|upper}}</a></h3>
                        <p>{{service.short_description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% get_special_offers_slider waved='True' %}
{% endblock %}