<p>
    <h2>Аврора Клуб - Новый Отзыв</h2>
    <hr>
    <p>Дата отзыва: {{ object.created_at|date:"j E Y" }}</p>
    <p>Имя автора: {{ object.initials }}</p>
    <p>Телефон заказчика: {{ object.phone }}</p>
    <h3>Отзыв:</h3>
    <p>{{object.review|linebreaks}}</p>
</p>