{% extends 'base.html' %}

{% load thumbnail siteblocks_extras pymorphy_tags %}

{% block content %}
    <div class="page">
        <div class="mega-heading with-decor">
            <span>
                ОТЗЫВЫ ОБ «АВРОРА КЛУБ»
                <div class="bottom-decor"></div>
            </span>
        </div>
        
        <div class="column-20 review-list-page">
            {% for review in review_list %}
            <div class="column-20 review-row">
                <div class="column-4 left-review-column">
                    <div>{{review.initials}}</div>
                    <div class="review-date">
                        {{review.created_at|date:"j E Y"}}
                    </div>
                </div>
                <div class="column-15 post-1 review-column-main">
                    <div class="review">
                        {{review.review|linebreaks}}
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="column-20 pre-4 review-row">
                Отзывов пока нет.
            </div>
            {% endfor %}
            
            <div class="pre-4">
                {% if is_paginated and page_obj.paginator.num_pages > 1 %}
                    {% include 'pagination.html' %}
                {% endif %}
            </div>
        </div>
        <div class="review-list-sidebar">
            {% get_sidebar_review %}
        </div>
    </div>
    {% get_special_offers_slider waved='True' %}
{% endblock %}