<div class="modal">
    <h2>Оставить отзыв</h2>

    <form action="{% url review_form_url %}" method="post" class="fancybox-response review-form">
        {% csrf_token %}
        <div class="hidden">
            {{form.created_at}}
        </div>

        <div class="inputs column-14">
            <div class="cell-line input-row">
                <div class="column-2 suffix-1 input-label">
                    <label for="review-initials">Ваше имя</label>
                </div>
                <div class="input-box">
                    <input type="text" name="initials" id="review-initials" class="input {% if form.initials.errors %}with-errors{% endif %}">
                    <div class="errors-box">
                        {% if form.initials.errors %}
                        <div class="errors">{{ form.initials.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="cell-line input-row">
                <div class="column-2 suffix-1 input-label">
                    <label for="review-phone">Телефон</label>
                </div>
                <div class="input-box">
                    <span class="phone-lead">+7</span><input type="text" name="phone" id="review-phone" class="input input-phone {% if form.phone.errors %}with-errors{% endif %}">
                    <div class="errors-box">
                        {% if form.phone.errors %}
                        <div class="errors">{{ form.phone.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="input-hint pre-1">
                    На случай, если потребуется уточнить детали.
                </div>
            </div>

            <div class="textarea-row column-14">
                <div class="column-2 suffix-1 input-label">
                    <label for="review-review">Отзыв</label>
                </div>

                <div class="textarea-box column-11">
                    <textarea name="review" id="review-review" class="textarea {% if form.review.errors %}with-errors{% endif %}"></textarea>
                    <div class="errors-box">
                        {% if form.review.errors %}
                        <div class="errors">{{ form.review.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="form-controls column-11 pre-3">
                <button class="btn"><span>Оставить отзыв</span></button><span class="hint">Все поля обязательны для заполнения</span>
            </div>
        </div>
    </form>
</div>