@mixin my-sticky-footer($footer-height) {
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        margin-bottom: $footer-height; /* bottom = footer height */
    }
    .footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: $footer-height;
    }
}

@mixin background-image($image) {
    background: image-url($image) no-repeat;
    width: image-width($image);
    height: image-height($image);
}

@mixin bulletproof-font-face($fontfamily, $filename, $svgid, $bold: false, $italic: false) {
    @font-face {
        font-family: $fontfamily; 
        src:
            url('#{font-url($filename, true)}.eot?'), 
            url('#{font-url($filename, true)}.ttf') format('truetype'),
            url('#{font-url($filename, true)}.svg##{$svgid}') format('svg');
        @if $bold {
            font-weight: bold;
        }
        @if $italic {
            font-style: italic;
        }
    }
}

@mixin overgrowth($top: false, $right: false, $bottom: false, $left: false) {
    @if $top {
        margin-top: -$top;
        padding-top: $top;
    }
    @if $right {
        margin-right: -$right;
        padding-right: $right;
    }
    @if $bottom {
        margin-bottom: -$bottom;
        padding-bottom: $bottom;
    }
    @if $left {
        margin-left: -$left;
        padding-left: $left;
    }
}