// html {
// 	color: $white;
// }
// // .main-logo {
// // 	background:green;
// // }
// // .header-top, .header-bottom {
// // 	background: red;
// // }
// // .main-heading {
// // 	background: gray;
// // }
// // .contacts-link {
// // 	background: orange;
// // }
// // .index-plax {
// // 	background: gray;
// // 	opacity: 0.8;
// // }
// // .plax-container img {
// // 	border: 1px solid red;
// // }
// .hotel-main {
// 	background: red;
// }
// .column-8 {
// 	background: green;
// }