@import "susy";
@import "mixins";
// @import "base";
@import "test";

@import "compass/reset";

// reset
img { 
	margin-bottom: 0;
	padding-bottom: 0;
}
// /reset
h1, h3 {
	font-family: 'Archive';
}

h1 {
	font-size: 32px;
	line-height: 36px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
}

.mega-heading {
	@include pre(4);
	margin-bottom: 24px;
	font-size: 32px;
	font-family: Archive;

	span {
		position: relative;
	}

	&.with-decor {
		& span:before, & span:after {
			content: '';
			display: block;
			position: absolute;
			top: 10px;
		}

		& span:before {
			@include background-image('heading-decor-left.png');
			left: -40px;
		}

		& span:after {
			@include background-image('heading-decor-right.png');
			right: -40px;
		}

		.bottom-decor {
			position: absolute;
			@include background-image('heading-decor-bottom.png');
			left: 50%;
			margin-left: -(image-width('heading-decor-bottom.png')/2);
			z-index: -1
		}
	}
}
// base styles
html {
	font-family: $default-font-family;
	font-size: 16px;
	line-height: 24px;
	color: $white;
}

a, a:visited {
	text-decoration: none;
	border-bottom: 1px $white solid;
	color: $white;
}

p {
	margin-bottom: 12px;
}

h1 {
	margin-bottom: 18px;
}

.header, .page, .footer-content {
	@include container;
}

@include my-sticky-footer(172px);

body {
	background: $blue;
}

.plax-container {
	position: absolute;
	top: -(4*$height-atom);
	left: 0;

	img {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.header {
	.menu li.current,
	.menu li:hover {
		background: image-url('menu-current.png');
		background-size: 100% 100%;
		margin-left: -5px;
		padding-left: 5px;
		margin-right: 23px;
		padding-right: 5px;
		margin-bottom: -5px;
		padding-bottom: 5px;
		border-radius: 4px;

		a {
			color: #563103;
			border: none;
		}
	}

	.menu li.special-link.current,
	.menu li.special-link:hover {
		background: none;
	}
}

.sub-menu {
	.menu li.current,
	.menu li:hover {
		background: $light-blue;
		margin-top: -5px;
		padding-top: 5px;
		margin-left: -10px;
		padding-left: 10px;
		margin-right: 40px;
		padding-right: 10px;
		margin-bottom: -5px;
		padding-bottom: 5px;
		border-radius: 4px;

		a {
			border: none;
		}
	}
}

.top-wave-bg {
	background: image-url('wave-top.png') repeat-x;
	height: 12px;
	position: relative;
	top: -12px;
}

.bottom-wave-bg {
	background: image-url('wave-bottom.png') repeat-x;
	height: 12px;
	position: relative;
	top: 12px;
}

.menu.horizontal {
	li {
		display: inline-block;
	}
}

.main-text-column {
	@include span-columns(14);
	@include suffix(2);
}

div.main-text-column + div.mega-heading {
	margin-top: 48px;
}

.column-4.special {
	background: $alt-light-blue;
	@include bleed(7px, top);
	@include bleed(23px, left);
	@include bleed(6px, right);
	@include bleed(12px, bottom);

	.content {
		@include bleed(7px, top);
		@include bleed(23px, left);
		@include bleed(6px, right);
		@include bleed(12px, bottom);
	}

	.corner {
		@include bleed(7px, top);
		@include bleed(23px, left);
	}

	.head {
		@include bleed(7px, top);
		@include bleed(23px, left);
		@include bleed(6px, right);
	}

	p {
		margin-bottom: 12px;
	}

	p:first-child {
		margin-top: 12px;
	}

	.hr {
		height: 1px;
		background: $blue;
		margin-top: 24px;
		margin-bottom: 24px;
		margin-right: 10px;
		@include bleed(7px, left);
	}

	a {
		font-style: italic;
	}

	h3 {
		margin-bottom: 12px;
	}
}

.sub-menu .menu {
	@include pre(4);
	margin-bottom: 36px;

	li {
		margin-right: 50px;
		font-family: Archive;
		font-size: 18px;
	}
}

.link-with-round-image {
	p {
		font-size: 14px;
		line-height: 18px;
		color: #6393a6;
	}
}

.img-box {
	position: relative;

	.decor {
		position: absolute;
		top: 0;
		left: 0;
	}
}

h3.with-right-decor {
	position: relative;
	left: -4px;

	&:before {
		content: '';
		display: inline-block;
		@include background-image('small-decor-left.png');
		margin-right: 5px;
	}
}

.page {
	margin-bottom: 48px;
}

.corner {
	float: left;
	@include background-image('corner.png');
}

.special .head,
.townhouses .head {
	height: 15px;
	border-top: 1px solid #366f9d;
	border-right: 1px solid #366f9d;
}

.special .content, 
.townhouses .content {
	border-left: 1px solid #366f9d;
	border-right: 1px solid #366f9d;
	border-bottom: 1px solid #366f9d;
}
// /base styles


// header-styles
.rays {
	position: absolute;
	@include background-image('rays.png');
	top: -40px;
	left: -235px;
	z-index: -1;
}
.header {
	position: relative;
	height: 7*$height-atom;
	padding-top: $height-atom;
	margin-bottom: $height-atom;
}

.header-top {
	margin-top: 20px;
}

.main-logo {
	@include span-columns(3, 24);
}

.header-top, .header-bottom {
	@include span-columns(20, 24);
	@include pre(1);
}

.main-heading {
	@include span-columns(18, 20);
}

.contacts-link { 
	@include span-columns(2, 20);
	font-size: 14px;
	line-height: 16px;

	a {
		border-style: dotted;
	}
}

.header-bottom {
	margin-top: 24px;
}

.header-bottom .menu {
	height: 36px;
	line-height: 36px; 

	img {
		vertical-align: middle;
	}

	li {
		margin-right: 28px;
		font-family: Archive;
		font-size: 18px;
	}
}

.special-offers-link {
	position: relative;
	font-family: $default-font-family;

	a {
		border: none;
	}

	.hint {
		position: absolute;
		top: 50px;
		left: -110px;
		font-size: 14px;
		font-weight: bold;
		font-style: italic;
		line-height: 16px;
		color: #69addc;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: -12px;
			right: -35px;
			@include background-image('special-offers-arrow.png');
		}
	}
}
// /header styles

// main styles
.index-plax {
	position: relative;
	height: 29*$height-atom;
	margin-bottom: 2*$height-atom;
}

.special-offers-slider {
	position: absolute;
	bottom: 0;	

	.previous, .next {
		top: 30%;
	}

	.previous {
		left: -30px;
	}

	.next {
		right: -30px;
	}

	h3 {
		color: #6393a6;
	}
	
	.image-slider {
		display: inline-block;
		position: relative;
	}

	.text-slider {
		a {
			font-weight: bold;
		}
	}
}

.promo-slider {
	position: relative;

	a {
		border: none;
	}

	.previous, .next {
		top: 60px;
	}

	.previous {
		left: -30px;
	}

	.next {
		right: -30px;
	}

	li {
		text-align: center;
	}
}

.promo-slider, .special-offers-slider {
	.previous, .next {
		position: absolute;
		cursor: pointer;
	}

	.previous {
		@include background-image('slider-back-arrow.png');		
	}

	.next {
		@include background-image('slider-next-arrow.png');
	}
}

.promo-box {
	@include span-columns(8);
	position: relative;

	.text {
		position: absolute;
		top: 0;
		left: 10px;
		background: $light-blue;
		padding: 15px;
		border-radius: 9px;
		text-align: left;
		font-family: Archive;
		font-size: 18px;
		line-height: 24px;

		.hint {
			font-family: $default-font-family;
			font-size: 14px;
		}
	}
}

.promo-page {
	&.waved {
		background: $dark-blue;

		.page {
		margin-bottom: 0;
	}
	}
}

.image-link-box {
	margin-top: 60px;
}

.map-labels {
	position: relative;

	

	.hotel-label {
		line-height: 52px;
		
		span {
			font-family: 'Archive';
			font-size: 18px;
			color: #6db7ed;
		}
	}

	.horse {
		right: 5px;
		top: -35px;
	}

	.skates {
		right: 35px;
		top: 150px;
	}

	.sauna {
		right: 400px;
		top: 0;
	}
}

.hotel-main {
	@include span-columns(16);
	margin-left: -32px;
	padding-right: 32px;
	margin-top: 48px;
}

.hotel-img, .hotel-text {
	display: inline-block;
	margin-bottom: 24px;
}

.hotel-text {
	width: 440px;
	vertical-align: top;
	margin-top: 24px;

	h4 {
		margin-bottom: 6px;
	}
}

.townhouses {
	background: $alt-light-blue;
	margin-left: 6px;
	margin-right: 9px;
	margin-top: 48px;

	.content {
		padding-bottom: 24px;
		padding-top: 16px;
	}
}

.townhouse-box {
	margin-left: 24px;
	margin-bottom: 24px;
}

.townhouse-img, .townhouse-text {
	display: inline-block;
	vertical-align: top;
}

.townhouse-text {
	ul li {
		font-style: italic;
		color: #6393a6; 
	}
}

.super-slider {
	margin-top: 24px; 

	.left-menu li a {
		color: #f28f16;
		border-bottom: 1px dotted #f28f16;
		line-height: 36px;
	}

	.left-menu li.current a {
		color: $white;
		border: none;
		cursor: default;
		position: relative;

		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			top: 5px;
		}

		&:before {
			@include background-image('small-decor-left.png');
			left: -25px;
		}

		&:after {
			@include background-image('small-decor-right.png');
			right: -25px;
		}
	}

	.image-slider {
		position: relative;

		.previous, .next {
			position: absolute;
			top: 170px;
			width: 65px;
    		height: 65px;
    		cursor: pointer;
    		background: image-url('slider-buttons.png');

    		&.inactive {
    			cursor: default;
    		}
		}

		.previous {
			background-position: 0 0;
			left: -40px;

			&.inactive {
				background-position: 0 -88px;
			}
		}

		.next {
			background-position: -88px 0;
			right: 15px;

			&.inactive {
				background-position: -88px -88px;
			}
		}
	}

	.previews {
		margin-top: 24px;

		li {
			margin-right: 30px;
		}
	}
}

.contacts-box {
	margin-top: 24px;
	margin-bottom: 24px;

	.column-4 {
		padding-top: 24px;
	}
}
// /main styles

// footer styles
.footer-inner {
	margin-top: 3*$height-atom;
	height: 100px;

	.footer.waved & {
		background: $dark-blue;
	}
}

.footer .menu {
	height: 36px;
	line-height: 36px; 
	margin-top: 12px;

	img {
		vertical-align: middle;
	}

	li {
		font-family: Archive;
		font-size: 18px;
	}

	li:after {
		content: '';
		display: inline-block;
		@include background-image('list-marker.png');
		margin-left: 10px;
		margin-right: 6px;
	}

	li:last-child:after {
		display: none;
	}
}

.footer .contacts-link { 
	@include span-columns(3);
	margin-top: 12px;
	position: relative;

	a {
		color: #838fa7;
		border-color: #838fa7;

		&:after {
			content: '';
			display: block;
			position: absolute;
			@include background-image('arrow-up.png');
			top: 0;
			right: 10px;
		}
	}
}
// /footer styles







