<div class="column-4">
    <div class="image-link-box">
        <a href="/info/history/" class="link-with-round-image">
            <div class="img-box">
                <img src="/static/images/boat.png" alt="">
                <img src="/static/images/circle-pic-with-decor.png" alt="" class="decor">
            </div>
            <p>История<br>
            «Аврора-клуб»</p>
        </a>
    </div>
</div>
<div class="column-16 main-text-column">
    {% if with_title %}
    <h1>ПРО «АВРОРА-КЛУБ»</h1>
    {% endif %}
    <div class="redactor">
        {{text_about_aurora|safe}}
    </div>
    {% if with_vk %}
    <div class="column-16 vk-box">
        {% include 'vk_widget.html' %}
    </div>
    {% endif %}
</div>