{% load siteblocks_extras %}

<div class="mega-heading with-decor">
    <span>
        О КУРОРТЕ «АВРОРА КЛУБ»
        <div class="bottom-decor"></div>
    </span>
</div>
<div class="sub-menu">
    <ul class="menu horizontal">
        {% about_menu request.path %}
    </ul>
</div>