{% extends 'base.html' %}

{% load thumbnail siteblocks_extras pymorphy_tags %}

{% block content %}
<div class="page">
    {% include 'about_header.html' %}
    <div class="column-20">
        {% include 'about_block.html' %}

        {% if gallery_set %}
        <div class="super-slider column-20">
            <div class="column-4">
                <ul class="left-menu">
                    {% for gallery in gallery_set %}
                        {% if forloop.first %}
                        <li class="current">
                            <a href="" class="slider-group-link" data-group="{{gallery.id}}">{{gallery.title}}</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="" class="slider-group-link" data-group="{{gallery.id}}">{{gallery.title}}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="column-16">
                <div class="image-slider">
                    <div class="slider-container">
                        <div class="with-shadow">
                            <div class="previous"></div>
                            <div class="next"></div>
                            <ul class="slider-window">
                                {% for photo in all_gallery_set_images %}
                                    <li data-count="{{forloop.counter}}" data-group="{{photo.gallery.id}}" data-image-id="{{photo.id}}">
                                        {% thumbnail photo.image "600x400" as img %}
                                            <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
                                        {% endthumbnail %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="previews-container">
                    {% for gallery in gallery_set %}
                        <ul class="previews menu horizontal {% if forloop.first %}current{% endif %}" data-group="{{gallery.id}}">
                            {% for photo in gallery.galleryimage_set.all %}
                            <li {% if forloop.first %}class="current"{% endif %}>
                                <a href="" class="preview-link" data-image-id="{{photo.id}}">
                                    <div class="img-box">
                                        {% thumbnail photo.image "74x74" crop="center" as img %}
                                            <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
                                        {% endthumbnail %}
                                        <img src="/static/images/circle-pic.png" alt="" class="decor not-current-decor">
                                        <img src="/static/images/circle-pic-with-decor.png" alt="" class="decor current-decor">
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    {% get_sidebar_two_addresses %}    

    <div class="mega-heading column-20">
        <span>
            КОНТАКТНАЯ ИНФОРМАЦИЯ
        </span>
    </div>
    <div class="column-24 contacts-box">
        <div id="resort_map"></div>
        <div class="column-4">
            <h3>курорт<br>
            «Аврора клуб»</h3>
            <br>
            <a href="/full_map/" class="img-link">
                {% if summer_or_winter == 'summer' %}
                    <img src="/static/images/minimap-summer.png" width="120">
                {% else %}
                    <img src="/static/images/minimap-winter.png" width="120">
                {% endif %}
            </a>
            <p><a href="/full_map/">Карта курорта</a></p>

        </div>
        <div class="column-16">
            <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=7NzzaW0_e7DHP9_67uJWeJJvgA6TAXDK&width=560&height=400">
            </script>
        </div>
        <div class="column-4">
            {{about_resort_address|safe}}
        </div>
    </div>
    <div class="column-24 contacts-box">
        <div id="office_map"></div>
        <div class="column-4">
            <h3>Офис<br>
            продаж</h3>
        </div>
        <div class="column-16">
            <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=nNBvaFnF3PZGw3bOzm_WatDTRKWuxh2s&width=560&height=450">
            </script>
        </div>
        <div class="column-4">
            {{about_office_address|safe}}
        </div>
    </div>
</div>
{% endblock %}

{% block footer_class %}
waved
{% endblock %}