{% load siteblocks_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% block META_description %}{{ meta.description }}{% endblock %}"/>
    <meta name="keywords" content="{% block META_keywords %}{{ meta.keywords }}{% endblock %}"/>
    <title>
        {% block title %}
            {% if meta.title %}
                {% ifnotequal meta.title ''  %}
                    {{ meta.title }} &mdash;
                {% endifnotequal %}
            {% endif %}
        {% endblock %}
        {{ site_name }}
    </title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/plax.js"></script>
    <script src="/static/js/bxslider/jquery.bxslider.min.js"></script>
    <script src="/static/js/fancybox/jquery.fancybox.pack.js"></script>
    <script src="/static/js/script.js?ver=3"></script>
    <link rel="stylesheet" href="/static/js/fancybox/jquery.fancybox.css" />
    <link rel="stylesheet" href="/static/css/style.css?ver=31" type="text/css" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/bxslider/jquery.bxslider.css">
    {% block head_extra %}{% endblock %}
</head>
<body>
    <div class="header">
        <div class="rays"></div>
        <div class="main-logo">
            <a href="/" class="img-link">
                <img src="/static/images/main-logo.png" alt="">
            </a>
        </div>
        <div class="header-top">
            <div class="main-heading">
                <img src="/static/images/main-heading.png" alt="">
            </div>
            <div class="contacts-link">
                <a href="{% url about_url %}#resort_map">Контактная информация</a>
            </div>
        </div>
        <div class="header-bottom">
            <ul class="menu horizontal">
                {% main_menu request.path %}
                <li class="special-link">
                    <div class="special-offers-link">
                        <div class="hint">
                            специальные<br>
                            предложения
                        </div>      
                        <a href="">
                            <img src="/static/images/special-offers-button.png" alt="">
                        </a>
                    </div>
                </li>
            </ul>
            <div class="specials-menu">
                <div class="before"></div>
                <div class="knob"></div>
                <div class="content">
                    <ul>
                        <li><a href="/weddings_and_celebrations/">Свадьбы и торжества</a></li>
                        <li><a href="{% url corpo_url %}">Корпоративным клиентам</a></li>
                        <li><a href="/for_travel_agencies/">Турагентствам</a></li>
                    </ul>
                </div>
                <div class="after"></div>
            </div>
        </div>
    </div>
    {% block content %}
    
    {% endblock %}
    <div class="footer {% block footer_class %}{% endblock %}">
        <div class="footer-inner">
            <div class="top-wave-bg"></div>
            <div class="footer-content">
                <div class="column-3">
                    <a href="/" class="img-link">
                        <img src="/static/images/mini-logo.png" alt="">
                    </a>
                </div>
                <div class="column-18">
                    <ul class="menu horizontal">
                        {% main_menu request.path %}
                    </ul>
                    <ul class="copy">
                        <li>© 2005–2013 ООО «Агентство Аврора-Клуб»</li>
                        <li>Сайт разработан в «<a href="http://www.octoberweb.ru">Octoberweb</a>»</li>
                    </ul>
                </div>
                <div class="contacts-link">
                    <a href="{% url about_url %}#resort_map">Контактная информация</a>
                </div>
            </div>
        </div>
    </div>
    {% include 'yandex_metrika.html' %}
</body>
</html>