{% extends 'base.html' %}

{% load thumbnail siteblocks_extras pymorphy_tags %}

{% block content %}
<div class="page">
    {% include 'corpo_header.html' %}

    <div class="column-20">
        <div class="center-text redactor text-page">
            {{corpo_places_text|safe}}
        </div>

        {% if gallery_set %}
        <div class="super-slider column-20">
            <div class="column-4">
                <ul class="left-menu">
                    {% for gallery in gallery_set %}
                        {% if forloop.first %}
                        <li class="current">
                            <a href="" class="slider-group-link" data-group="{{gallery.id}}">{{gallery.title}}</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="" class="slider-group-link" data-group="{{gallery.id}}">{{gallery.title}}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="column-16">
                <div class="image-slider">
                    <div class="slider-container">
                        <div class="with-shadow">
                            <div class="previous"></div>
                            <div class="next"></div>
                            <ul class="slider-window">
                                {% for photo in all_gallery_set_images %}
                                    <li data-count="{{forloop.counter}}" data-group="{{photo.gallery.id}}" data-image-id="{{photo.id}}">
                                        {% thumbnail photo.image "600x400" as img %}
                                            <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
                                        {% endthumbnail %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="previews-container">
                    {% for gallery in gallery_set %}
                        <ul class="previews menu horizontal {% if forloop.first %}current{% endif %}" data-group="{{gallery.id}}">
                            {% for photo in gallery.galleryimage_set.all %}
                            <li {% if forloop.first %}class="current"{% endif %}>
                                <a href="" class="preview-link" data-image-id="{{photo.id}}">
                                    <div class="img-box">
                                        {% thumbnail photo.image "74x74" crop="center" as img %}
                                            <img src="{{img.url}}" width="{{img.width}}" height="{{img.height}}">
                                        {% endthumbnail %}
                                        <img src="/static/images/circle-pic.png" alt="" class="decor not-current-decor">
                                        <img src="/static/images/circle-pic-with-decor.png" alt="" class="decor current-decor">
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div
    <div class="column-4 special">
        {% get_sidebar_two_addresses %}
    </div>
</div>

{% get_special_offers_slider waved='True' %}

{% endblock %}