{% extends "base.html" %}

{% load thumbnail siteblocks_extras %}

{% block content %}
    <div class="page full-map-top-heading">
        <div class="mega-heading with-decor">
            <span>
                Карта курорта
                <div class="bottom-decor"></div>
            </span>
        </div>
    </div>

    {% with template='map_with_plax_'|add:summer_or_winter|add:'.html' %}
        {% include template with is_full_map='True' %}
    {% endwith %}

    <div class="page full_map_text">
        <div class="column-20">
            <div class="column-7 pre-2">
                {{ full_map_left_text|safe }}
            </div>
            <div class="column-7 pre-2 right-list">
                {{ full_map_right_text|safe }}
            </div>
        </div>
        {% get_sidebar_order %}
    </div>
{% endblock %}

{% block footer_class %}
waved
{% endblock %}
