{% load siteblocks_extras %}

<div class="page index-plax">
    <div class="plax-container">
        <img src="/static/images/map_zima_bottom.png" data-xrange="10" data-yrange="0" data-invert="true">
        {% if is_full_map %}
        <img src="/static/images/map_zima_numbers.png" data-xrange="10" data-yrange="0" data-invert="true">
        {% endif %}
        <img src="/static/images/map_zima_center.png" data-xrange="10" data-yrange="0">
        <img src="/static/images/map_zima_top.png" data-xrange="30" data-yrange="0">
    </div>
    {% if not is_full_map %}
        <div class="map-labels">
            {% for location in map_locations %}
                {% get_index_map_label location %}
            {% endfor %}
        </div>
        {% include 'special_offers_slider.html' %}
        <div class="full-map-link">
            <a href="/full_map/" class="img-link">
                <img src="/static/images/minimap-winter.png">
            </a>
        </div>
    {% endif %}
</div>