<div class="pagination">
    <ul>
        {% if not page_obj.number == 1 %}
            <li><div class="wrap"><a href="{{request.path}}?page=1">1</a></div></li>
            {% if not page_obj.number == 2 %}
                <li><div class="wrap"><a href="{{request.path}}?page={{ page_obj.number|add:'-1' }}">{{ page_obj.number|add:'-1' }}</a></div></li>
            {% endif %}
        {% endif %}
        <li class="current"><div class="wrap"><a href="{{request.path}}?page={{ page_obj.number }}">{{ page_obj.number }}</a></div></li>
        {% if not page_obj.number == page_obj.paginator.num_pages %}
            <li><div class="wrap"><a href="{{request.path}}?page={{ page_obj.number|add:'1' }}">{{ page_obj.number|add:'1' }}</a></div></li>
            {% if not page_obj.number == page_obj.paginator.num_pages|add:"-1" %}
                <li><div class="wrap"><a href="{{request.path}}?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></div></li>
            {% endif %}
        {% endif %}
    </ul>
</div>