<div class="special-offers-slider">
    <h3>СПЕЦИАЛЬНЫЕ<br>
        ПРЕДЛОЖЕНИЯ</h3>
    <div class="slider">
        <div class="image-slider">
            <div class="previous"></div>
            <div class="next"></div>
            <ul>
                <li data-id="1"><a href="/weddings_and_celebrations/" class="img-link"><img src="/static/images/special-offer-image.png" alt=""></a></li>
                <li data-id="2"><a href="{% url corpo_url %}" class="img-link"><img src="/static/images/special-offer-image-corp.png" alt=""></a></li>
            </ul>
        </div>
        <ul class="text-slider">
            <li class="current" data-id="1"><a href="/weddings_and_celebrations/">Проведение свадеб<br>
                и торжеств</a>
            </li>
            <li data-id="2"><a href="{% url corpo_url %}">Корпоративным <br>
                клиентам</a>
            </li>
        </ul>
    </div>
</div>