<div class="promo-page {% if waved %}waved{% endif %}">
    {% if waved %}
    <div class="top-wave-bg"></div>
    {% endif %}
    <div class="page">
        <div class="promo-slider">
            <div class="previous"></div>
            <div class="next"></div>
            <ul>
                {% for offer in special_offers %}
                <li class="promo-box">
                    <a href="{% url press_item_url offer.id %}">
                        <div class="text">
                            {{offer.title}}
                        </div>
                        <img src="{{offer.image.url}}" alt="">
                    </a>
                </li>
                {% endfor %}
                <li class="promo-box">
                    <div class="all-promos-link">
                        <a href="{% url press_list_url %}">Все новости<br>и специальные предложения</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {% if waved %}
    <div class="bottom-wave-bg"></div>
    {% endif %}
</div>