{% if service.slug == 'rope_city' %}
<div class="label hotel-label reversed {{service.slug}}">
    <div class="text-box">
        <span><a href="{% url service_detail_url service.slug %}">{{service.title}}</a></span>
    </div>
    <a href="{% url service_detail_url service.slug %}" class="img-link"> 
        <img src="{{service.image.url}}" width="52" height="56">
    </a>
</div>
{% else %}
<div class="label hotel-label {{service.slug}}">
    <a href="{% url service_detail_url service.slug %}" class="img-link">
        <img src="{{service.image.url}}" width="52" height="56">
    </a>
    <div class="text-box">
        <span><a href="{% url service_detail_url service.slug %}">{{service.title}}</a></span>
    </div>   
</div>
{% endif %}