<div class="label {{service.slug}}">
    <a href="{% url service_detail_url service.slug %}" class="img-link">
        <img src="{{service.image.url}}">
    </a>
    <p>
        <a href="{% url service_detail_url service.slug %}">{{service.title|upper}}</a>   
    </p>
</div>