<div class="column-4 special {% if sticker == 'true' %}sticker{% endif %}">
        <div class="corner"></div>
        <div class="head"></div>
        <div class="content">
            {{ office_address|safe }}
            <div class="hr"></div>
            {{ resort_address|safe }}
        </div>
</div>