<div class="column-4 special order-sidebar {% if sticker == 'true' %}sticker{% endif %}">
    <div class="corner"></div>
    <div class="head"></div>
    <div class="content">
        {{ office_address|safe }}
        <div class="hr"></div>
        <h3 class="with-right-decor">ЗАЯВКА НА САЙТЕ</h3>
        <a class="btn review-btn" href="{% url order_url %}"><span>Отправить заявку</span></a>
        <div class="text">
            <p>Вы просто отправите заявку, а менеджер с вами свяжется и уточнит все детали.</p>
        </div>
    </div>
</div>