<div class="column-4 special {% if sticker == 'true' %}sticker{% endif %}">
    <div class="corner"></div>
    <div class="head"></div>
    <div class="content">
        <h3 class="with-right-decor">ОТЗЫВ</h3>
        <div class="text">
            <p>Если вы уже отдыхали у нас, то оставьте, пожалуйста, отзыв о ваших впечатлениях.</p>
        </div>
        <a class="btn review-btn fancybox fancybox.ajax" href="{% url review_form_url %}"><span>Добавить отзыв</span></a>
    </div>
</div>